In [23]:
import math
from datetime import date
from datetime import datetime
from datetime import timedelta

#day,month,year,hour,minute = 30,3,2550,8,55
#day,month,year,hour,minute = 27,1,2527,9,49
day,month,year,hour,minute = 14,9,2526,16,13
christ_year = year-543
jula_year = year-1181
offset = timedelta(minutes=18)
dt= datetime(christ_year,month,day,hour,minute)-offset
dtf= datetime(dt.year,dt.month,dt.day,0,0)
d = date(dt.year,dt.month,dt.day)

def NYdate(jula_year):
    ny = jula_year*0.25875-int(jula_year/4 +0.5)+int(jula_year/100 +0.38)-int(jula_year/400 +0.595)-5.53375
    jultin =  ((jula_year*292207)+373)%800
    hour,frac = divmod(jultin*24,800)
    minute,frac = divmod(frac*60,800)
    second,frac = divmod(frac*60,800)
    christ_year = jula_year+638
    dtny = datetime(christ_year, 4, int(ny), hour , minute, second)
    return dtny;

In [24]:
dtny = NYdate(jula_year)
dny = date(dtny.year,dtny.month,dtny.day)
    
if (dt>=dtny):
    jula_newyear = jula_year
elif (dt<dtny):
    jula_newyear = jula_year-1
    dtny = NYdate(jula_newyear)
    dny = date(dtny.year,dtny.month,dtny.day)

print('datetimeSpeculate=',dt)
print('datetime_ny =',dtny)
print('jula_year =',jula_year)
print('jula_newyear =',jula_newyear)

datetimeSpeculate= 1983-09-14 15:55:00
datetime_ny = 1983-04-16 11:38:24
jula_year = 1345
jula_newyear = 1345

In [25]:
temp = (jula_newyear*292207)+373
ahra = (temp//800)+1
jultin =  temp%800

kj = 800-jultin
temp,aw= divmod((ahra*11)+650,692)
masG,dT=divmod((ahra+temp),30)

au = (ahra-621)%3232
van = ahra%7

stin = (d-dny).days
sec = (dt-dtf).seconds

In [26]:
print('ahra=',ahra)
print('jultin=',jultin)
print('kj=',kj)
print('aw=',aw)
print('masG=',masG)
print('dT=',dT)
print('au=',au)
print('van=',van)
print('stin=',stin)
print('sec=',sec)

ahra= 491274
jultin= 388
kj= 412
aw= 144
masG= 16636
dT= 4
au= 2621
van= 0
stin= 151
sec= 57300

In [27]:
ahra_ = ahra+stin
stkm = (stin-1)*800
kj_ = kj + stkm + sec//108

awjt = (stin-1)*703+aw
aws = awjt+(sec*703)//86400
awdT,aw_=divmod(aws,692)
temp,dT_=divmod((awdT+dT),30)
masG_ = masG+temp
van_=ahra_%7

if (au+stin > 3232):
    au_ = au+stin-3232
else: au_= au+stin

In [28]:
print('ahra_=',ahra_)
print('kj_=',kj_)
print('aw_=',aw_)
print('dT_=',dT_)
print('masG_=',masG_)
print('au_=',au_)
print('van_=',van_)

ahra_= 491425
kj_= 120942
aw_= 184
dT_= 7
masG_= 16641
au_= 2772
van_= 4

In [29]:
hour,r = divmod(jultin*24,800)
minute,r = divmod(r*60,800)
second,r = divmod(r*60,800)
print('hour=',hour)
print('minute=',minute)
print('second=',second)
print('r=',r)

hour= 11
minute= 38
second= 24
r= 0

In [30]:
sun_table = [[35,32,27,22,13,5],
             [0,35,67,94,116,129]]


z = kj_ // 24350
z_remainder = kj_ % 24350
degree = z_remainder//811
d_remainder = z_remainder % 811
minute = d_remainder//14

d_total = z*30+degree
mathasun = d_total*60+minute-3


if mathasun >= 21600:
    raise Exception('mathasun exceed or equal 21600')
elif mathasun < 0:
    raise Exception('mathasun below 0')
elif mathasun < 4800:
    pholsun = 21600+mathasun-4800
else:
    pholsun = mathasun-4800


if pholsun >= 21600:
    raise Exception('pholsun exceed or equal 21600')
elif pholsun < 0:
    raise Exception('pholsun below 0')
elif pholsun >= 0 and pholsun <5400:
    pholGA = pholsun

elif pholsun >= 5400 and pholsun <10800:
    pholGA = 10800-pholsun

elif pholsun >= 10800 and pholsun <16200:
    pholGA = pholsun-10800

elif pholsun >= 16200:
    pholGA = 21600-pholsun
    

khan = pholGA // 900
pushlip = pholGA % 900


jyaGA = (sun_table[0][khan]*pushlip) // 900
ravipphol = sun_table[1][khan]+jyaGA


if pholsun < 10800:
    Ssun = mathasun-ravipphol
elif pholsun > 10800:
    Ssun= mathasun+ravipphol
elif pholsun == 10800:
    if(ravipphol != 0):raise Exception('pholsun=10800 but ravipphol not 0')
    Ssun= mathasun

if Ssun < 0:
    Ssun = Ssun+21600
elif Ssun > 21600:
    Ssun= Ssun-21600

zodiac,frac = divmod(Ssun,1800)
degree,minute = divmod(frac,60)



print('mathasun =',mathasun)
print('pholsun =',pholsun)
print('pholGA =',pholGA)
print('khan =',khan)
print('pushlip =',pushlip)
print('ravipphol =',ravipphol)
print('Ssun =',Ssun)
print('zodiac =',zodiac)
print('degree =',degree)
print('minute =',minute)

mathasun = 8938
pholsun = 4138
pholGA = 4138
khan = 4
pushlip = 538
ravipphol = 123
Ssun = 8815
zodiac = 4
degree = 26
minute = 55

In [31]:
moon_table = [[77,71,61,47,30,10],
             [0,77,148,209,256,296]]

temp = (au_-1)*86400+sec

#zodiac,frac = divmod(x,23270400)
#degree,frac = divmod(frac,775680)
#minute = frac // 12928

zodiac = temp//23270400
degree = (temp%23270400)//775680
minute = ((temp%23270400)%775680)//12928
d_total = zodiac*30+degree
mtu = d_total*60+minute+2


mathamoon = mathasun + aw_ +(aw_//25)+(dT_*720)-40
if mathamoon >= 21600: 
    mathamoon = mathamoon-21600

if mathamoon >= 21600:
    raise Exception('mathamoon exceed or equal 21600')
elif mathamoon < 0:
    raise Exception('mathamoon below 0')
elif mtu >= 21600:
    raise Exception('mtu exceed or equal 21600')
elif mtu < 0:
    raise Exception('mtu below 0')
elif mathamoon>=mtu:
    uv =  mathamoon-mtu
elif mathamoon<mtu:
    uv = 21600+mathamoon-mtu
    

if uv >= 21600:
    raise Exception('uv exceed or equal 21600')
elif uv < 0:
    raise Exception('uv below 0')
elif uv >= 0 and uv <5400:
    pholGA = uv
elif uv >= 5400 and uv <10800:
    pholGA = 10800-uv
elif uv >= 10800 and uv <16200:
    pholGA = uv-10800
elif uv >= 16200:
    pholGA = 21600-uv


khan = pholGA // 900
pushlip = pholGA % 900

jyaGA = (moon_table[0][khan]*pushlip) // 900
chandraphol = moon_table[1][khan]+jyaGA

if uv < 10800:
    Smoon = mathamoon-chandraphol
elif uv > 10800:
    Smoon= mathamoon+chandraphol
elif uv == 10800:
    if(chandraphol != 0):raise Exception('uv=10800 but chandraphol not 0')
    Smoon= mathamoon

if Smoon < 0:
    Smoon = Smoon+21600
elif Smoon > 21600:
    Smoon= Smoon-21600

zodiac,frac = divmod(Smoon,1800)
degree,minute = divmod(frac,60)

print('zodiac=',zodiac)
print('degree=',degree)
print('minute=',minute)
print('mtu=',mtu)
print('mathamoon=',mathamoon)
print('uv=',uv)
print('pholGA=',pholGA)
print('khan =',khan)
print('pushlip =',pushlip)
print('jyaGA =',jyaGA)
print('chandraphol =',chandraphol)
print('Smoon =',Smoon)
print('zodiac =',zodiac)
print('degree =',degree)
print('minute =',minute)

zodiac= 8
degree= 0
minute= 11
mtu= 18525
mathamoon= 14129
uv= 17204
pholGA= 4396
khan = 4
pushlip = 796
jyaGA = 26
chandraphol = 282
Smoon = 14411
zodiac = 8
degree = 0
minute = 11

In [32]:
matharavi = mathasun-23
srb = jula_newyear-610
manut = (srb*21600)+ matharavi

a = manut//20
b = manut//265
pmt = (a+b)%21600

Srahu = 15150-pmt
if Srahu<0:
    Srahu = Srahu+21600
    
    
zodiac,frac = divmod(Srahu,1800)
degree,minute = divmod(frac,60)



print('matharavi =',matharavi)
print('srb =',srb)
print('manut =',manut)
print('pmt =',pmt)
print('a =',a)
print('b =',b)
print('Srahu =',Srahu)
print('zodiac =',zodiac)
print('degree =',degree)
print('minute =',minute)


# import pandas as pd
# df = pd.DataFrame()
# df = df.append({'dt' : dt, 
#                 'rahu.z' : zodiac,
#                 'rahu.d' : degree,          
#                 'rahu.m' : minute              
#                } , ignore_index=True)
# df.set_index('dt',inplace=True)
# df[['rahu.z','rahu.d','rahu.m']]

matharavi = 8915
srb = 735
manut = 15884915
pmt = 11788
a = 794245
b = 59943
Srahu = 3362
zodiac = 1
degree = 26
minute = 2

In [33]:
matharavi = mathasun-23
srb = jula_newyear-610
manut = (srb*21600)+ matharavi

pholgt = (ahra_-345)%679
mathageth = (pholgt*21600 + (sec*21600)//86400)//679
Sgeth = 21600-mathageth
zodiac,frac = divmod(Sgeth,1800)
degree,minute = divmod(frac,60)

print('Sgeth =',Sgeth)
print('zodiac =',zodiac)
print('degree =',degree)
print('minute =',minute)

Sgeth = 16394
zodiac = 9
degree = 3
minute = 14

In [34]:
mathaMars = ((manut*1)//2 + (manut*16)//505 + 5420)%21600
pholMars = mathaMars-7620
if pholMars<0:
    pholMars = pholMars+21600

ptma = (pholMars//5400)+1
if ptma == 1:
    puchaPT = pholMars
    khotiPT = 5400-pholMars
elif ptma == 2:
    puchaPT = 10800-pholMars
    khotiPT = pholMars-5400
elif ptma == 3:
    puchaPT = pholMars-10800
    khotiPT = 16200-pholMars
elif ptma == 4:
    puchaPT = 21600-pholMars
    khotiPT = pholMars-16200
    
# puchaPT = 1064
# khotiPT = 4336
    
if puchaPT < 0:
    raise Exception('puchaPT is below 0')
elif puchaPT > 5400:
    raise Exception('puchaPT is greater than 5400')
elif puchaPT < 1800:
    MTpucha = (puchaPT*14640)//1800
elif (puchaPT >= 1800) and (puchaPT < 3600) :
    MTpucha = (((puchaPT-1800)*10980)//1800)+14640
elif puchaPT >= 3600 :
    MTpucha = (((puchaPT-3600)*3660)//1800)+25620

if khotiPT < 0:
    raise Exception('khotiPT is below 0')
elif khotiPT > 5400:
    raise Exception('khotiPT is greater than 5400')
elif khotiPT < 1800:
    MTKhoti = (khotiPT*14640)//1800
elif (khotiPT >= 1800) and (khotiPT < 3600) :
    MTKhoti = (((khotiPT-1800)*10980)//1800)+14640
elif khotiPT >= 3600 :
    MTKhoti = (((khotiPT-3600)*3660)//1800)+25620

MTKhoti = (MTKhoti+30)//60
khotiphol = MTKhoti//2


if (ptma ==1) or (ptma ==4):
    MTcheta = 45*60 + khotiphol
elif (ptma ==2) or (ptma ==3):
    MTcheta=  45*60 - khotiphol
    
MTphol = (MTpucha*60)//MTcheta


if (ptma ==1) or (ptma ==2):
    if (mathaMars - MTphol)>=0:
        MTS = mathaMars - MTphol
    elif (mathaMars - MTphol)<0:
        MTS =  mathaMars - MTphol + 21600
        print('MTS =',mathaMars - MTphol,'adjust to',MTS)          
        
elif (ptma ==3) or (ptma ==4):
    if (mathaMars + MTphol)>=21600:
        MTS = mathaMars + MTphol - 21600
        print('MTS =',mathaMars + MTphol,'adjust to',MTS)
    elif(mathaMars + MTphol)<21600:
        MTS = mathaMars + MTphol


pholMT = MTS-matharavi
if pholMT<0:
    pholMT=pholMT+21600

ptnd = (pholMT//5400)+1
if ptnd == 1:
    puchaTY = pholMT
    khotiTY = 5400-pholMT
elif ptnd == 2:
    puchaTY = 10800-pholMT
    khotiTY = pholMT-5400
elif ptnd == 3:
    puchaTY = pholMT-10800
    khotiTY = 16200-pholMT
elif ptnd == 4:
    puchaTY = 21600-pholMT
    khotiTY = pholMT-16200

if puchaTY < 0:
    raise Exception('puchaTY is below 0')
elif puchaTY > 5400:
    raise Exception('puchaTY is greater than 5400')
elif puchaTY < 1800:
    SGPucha = (puchaTY*14640)//1800
elif (puchaTY >= 1800) and (puchaTY < 3600) :
    SGPucha = (((puchaTY-1800)*10980)//1800)+14640
elif puchaTY >= 3600 :
    SGPucha = (((puchaTY-3600)*3660)//1800)+25620

if khotiTY < 0:
    raise Exception('khotiTY is below 0')
elif khotiTY > 5400:
    raise Exception('khotiTY is greater than 5400')
elif khotiTY < 1800:
    SGKhoti = (khotiTY*14640)//1800
elif (khotiTY >= 1800) and (khotiTY < 3600) :
    SGKhoti = (((khotiTY-1800)*10980)//1800)+14640
elif khotiTY >= 3600 :
    SGKhoti = (((khotiTY-3600)*3660)//1800)+25620

SGKhoti = (SGKhoti+30)//60
SGphol = ((SGPucha+30)//60)//3

p= (4*MTcheta)//15 
sp = p+SGphol

if (ptnd ==1) or (ptnd ==4):
    SGcheta = sp + SGKhoti
elif (ptnd ==2) or (ptnd ==3):
    SGcheta = sp - SGKhoti

if SGcheta < 0:
    raise Exception('SGcheta < 0')
elif khotiTY > 21600:
    raise Exception('SGcheta > SGcheta')

mahaphol = (SGPucha*60)//SGcheta

if (ptnd ==1) or (ptnd ==2):
    if (MTS - mahaphol)>=0:
        Smars = MTS - mahaphol
    elif (MTS - mahaphol)<0:
        Smars =  MTS - mahaphol + 21600
        print('Smars =',MTS - mahaphol,'adjust to',Smars)          
        
elif (ptnd ==3) or (ptnd ==4):
    if (MTS + mahaphol)>=21600:
        Smars = MTS + mahaphol - 21600
        print('Smars =',MTS + mahaphol,'adjust to',Smars)
    elif(MTS + mahaphol)<21600:
        Smars = MTS + mahaphol

zodiac,frac = divmod(Smars,1800)
degree,minute = divmod(frac,60)


print('matharavi =',matharavi)
print('manut =',manut)
print('mathaMars =',mathaMars)
print('pholMars =',pholMars)
print('puchaPT =',puchaPT)
print('khotiPT =',khotiPT)
print('MTpucha =',MTpucha)
print('MTKhoti =',MTKhoti)
print('khotiphol =',khotiphol)
print('MTcheta =',MTcheta)
print('MTphol =',MTphol)
print('MTS =',MTS)
print('pholMT =',pholMT)
print('ptnd =',ptnd)
print('puchaTY =',puchaTY)
print('khotiTY =',khotiTY)
print('SGPucha =',SGPucha)
print('SGKhoti =',SGKhoti)
print('p =',p)
print('SGphol =',SGphol)
print('sp =',sp)
print('SGcheta =',SGcheta)
print('mahaphol =',mahaphol)
print('Smars =',Smars)
print('zodiac =',zodiac)
print('degree =',degree)
print('minute =',minute)

matharavi = 8915
manut = 15884915
mathaMars = 5561
pholMars = 19541
puchaPT = 2059
khotiPT = 3341
MTpucha = 16219
MTKhoti = 401
khotiphol = 200
MTcheta = 2900
MTphol = 335
MTS = 5896
pholMT = 18581
ptnd = 4
puchaTY = 3019
khotiTY = 2381
SGPucha = 22075
SGKhoti = 303
p = 773
SGphol = 122
sp = 895
SGcheta = 1198
mahaphol = 1105
Smars = 7001
zodiac = 3
degree = 26
minute = 41

In [35]:
import pandas as pd
s_ravi = {
    'jya': [35,32,27,22,13,5],
    'ravi': [0,35,67,94,116,129]
}
#df = pd.DataFrame(s_ravi)
df = pd.DataFrame(s_ravi)
#df.iloc[1] = [kj,Ssun]
#df.append(data)
df = df.append({'kj' : 'Sahil' , 'sun' : 22} , ignore_index=True)
df = df.append({'kj' : 'Sahil' , 'sun' : 22} , ignore_index=True)

df = df.append({'kj' : 'Sahil' , 'sun' : 22 , 'datetime' : dt} , ignore_index=True)
df = df.append({'kj' : 'Sahil' , 'sun' : 22 , 'datetime' : dtny} , ignore_index=True)


#df.to_csv(r"C:\Users\JACK\Desktop\out.csv")

#