In [57]:
import math
from datetime import date
from datetime import datetime
from datetime import timedelta


offset = timedelta(minutes=18)
#offset = timedelta(minutes=18)
#day,month,year,hour,minute = 30,3,2550,8,55
#day,month,year,hour,minute = 27,1,2527,9,49
day,month,year,hour,minute = 27,10,2486,0,10
christ_year = year-543
jula_year = year-1181
dt= datetime(christ_year,month,day,hour,minute)-offset
dtf= datetime(dt.year,dt.month,dt.day,0,0)
d = date(dt.year,dt.month,dt.day)

ny = jula_year*0.25875-int(jula_year/4 +0.5)+int(jula_year/100 +0.38)-int(jula_year/400 +0.595)-5.53375
frac,date_ny = math.modf(ny)
frac,hour_ny = math.modf(frac*24)
frac,minute_ny = math.modf(frac*60)
second_ny = round(frac*60)
if frac*60>59.5: 
    second_ny =0 
    minute_ny+=1
dtny = datetime(christ_year, 4, int(ny), int(hour_ny), int(minute_ny),second_ny)
dny = date(christ_year,4,int(ny))


if (dt>dtny):
    jula_newyear = jula_year

elif (dtny>dt):
    jula_newyear = jula_year-1
    ny = jula_newyear*0.25875-int(jula_newyear/4 +0.5)+int(jula_newyear/100 +0.38)-int(jula_newyear/400 +0.595)-5.53375
    frac,date_ny = math.modf(ny)
    frac,hour_ny = math.modf(frac*24)
    frac,minute_ny = math.modf(frac*60)
    second_ny = round(frac*60)
    if frac*60>59.5: 
        second_ny =0 
        minute_ny+=1
    dtny = datetime(christ_year-1, 4, int(ny), int(hour_ny), int(minute_ny),second_ny)
    dny = date(christ_year-1,4,int(ny))

In [58]:
print('datetimeSpeculate=',dt)
print('datetimeTS =',dtny)
print('jula_year =',jula_year)
print('jula_newyear =',jula_newyear)

datetimeSpeculate= 1943-10-26 23:52:00
datetimeTS = 1943-04-16 03:14:24
jula_year = 1305
jula_newyear = 1305

In [48]:
temp = (jula_newyear*292207)+373
ahra = (temp//800)+1
jultin =  temp%800

kj = 800-jultin
temp,aw= divmod((ahra*11)+650,692)
masG,dT=divmod((ahra+temp),30)

au = (ahra-621)%3232
van = ahra%7

stin = (d-dny).days
sec = (dt-dtf).seconds

In [49]:
print('ahra=',ahra)
print('jultin=',jultin)
print('kj=',kj)
print('aw=',aw)
print('masG=',masG)
print('dT=',dT)
print('au=',au)
print('van=',van)
print('stin=',stin)
print('sec=',sec)

ahra= 484699
jultin= 662
kj= 138
aw= 479
masG= 16413
dT= 14
au= 2510
van= 5
stin= 317
sec= 85920

In [50]:
ahra_ = ahra+stin
stkm = (stin-1)*800
kj_ = kj + stkm + sec//108

awjt = (stin-1)*703+aw
aws = awjt+(sec*703)//86400
awdT,aw_=divmod(aws,692)
temp,dT_=divmod((awdT+dT),30)
masG_ = masG+temp
van_=ahra_%7

if (au+stin > 3232):
    au_ = au+stin-3232
else: au_= au+stin

In [51]:
print('ahra_=',ahra_)
print('kj_=',kj_)
print('aw_=',aw_)
print('dT_=',dT_)
print('masG_=',masG_)
print('au_=',au_)
print('van_=',van_)

ahra_= 485016
kj_= 253733
aw_= 502
dT_= 6
masG_= 16424
au_= 2827
van_= 0

In [52]:
hour,r = divmod(jultin*24,800)
minute,r = divmod(r*60,800)
second,r = divmod(r*60,800)
print('hour=',hour)
print('minute=',minute)
print('second=',second)
print('r=',r)

hour= 19
minute= 51
second= 36
r= 0

In [53]:
sun_table = [[35,32,27,22,13,5],
             [0,35,67,94,116,129]]


z = kj_ // 24350
z_remainder = kj_ % 24350
degree = z_remainder//811
d_remainder = z_remainder % 811
minute = d_remainder//14

d_total = z*30+degree
mathasun = d_total*60+minute-3



if mathasun >= 21600:
    raise Exception('mathasun exceed or equal 21600')
elif mathasun < 0:
    raise Exception('mathasun below 0')
elif mathasun < 4800:
    pholsun = 21600+mathasun-4800
else:
    pholsun = mathasun-4800


if pholsun >= 21600:
    raise Exception('pholsun exceed or equal 21600')
elif pholsun < 0:
    raise Exception('pholsun below 0')
elif pholsun >= 0 and pholsun <5400:
    pholGA = pholsun

elif pholsun >= 5400 and pholsun <10800:
    pholGA = 10800-pholsun

elif pholsun >= 10800 and pholsun <16200:
    pholGA = pholsun-10800

elif pholsun >= 16200:
    pholGA = 21600-pholsun
    

khan = pholGA // 900
pushlip = pholGA % 900


jyaGA = (sun_table[0][khan]*pushlip) // 900
ravipphol = sun_table[1][khan]+jyaGA


if pholsun < 10800:
    Ssun = mathasun-ravipphol
elif pholsun > 10800:
    Ssun= mathasun+ravipphol
elif pholsun == 10800:
    if(ravipphol != 0):raise Exception('pholsun=10800 but ravipphol not 0')
    Ssun= mathasun

if Ssun < 0:
    Ssun = Ssun+21600
elif Ssun > 21600:
    Ssun= Ssun-21600

zodiac,frac = divmod(Ssun,1800)
degree,minute = divmod(frac,60)

print('mathasun =',mathasun)
print('pholsun =',pholsun)
print('pholGA =',pholGA)
print('khan =',khan)
print('pushlip =',pushlip)
print('ravipphol =',ravipphol)
print('Ssun =',Ssun)
print('zodiac =',zodiac)
print('degree =',degree)
print('minute =',minute)

mathasun = 18752
pholsun = 13952
pholGA = 3152
khan = 3
pushlip = 452
ravipphol = 105
Ssun = 18857
zodiac = 10
degree = 14
minute = 17

In [54]:
moon_table = [[77,71,61,47,30,10],
             [0,77,148,209,256,296]]

temp = (au_-1)*86400+sec

#zodiac,frac = divmod(x,23270400)
#degree,frac = divmod(frac,775680)
#minute = frac // 12928

zodiac = temp//23270400
degree = (temp%23270400)//775680
minute = ((temp%23270400)%775680)//12928
d_total = zodiac*30+degree
mtu = d_total*60+minute+2


mathamoon = mathasun + aw_ +(aw_//25)+(dT_*720)-40
if mathamoon >= 21600: 
    mathamoon = mathamoon-21600

if mathamoon >= 21600:
    raise Exception('mathamoon exceed or equal 21600')
elif mathamoon < 0:
    raise Exception('mathamoon below 0')
elif mtu >= 21600:
    raise Exception('mtu exceed or equal 21600')
elif mtu < 0:
    raise Exception('mtu below 0')
elif mathamoon>=mtu:
    uv =  mathamoon-mtu
elif mathamoon<mtu:
    uv = 21600+mathamoon-mtu
    

if uv >= 21600:
    raise Exception('uv exceed or equal 21600')
elif uv < 0:
    raise Exception('uv below 0')
elif uv >= 0 and uv <5400:
    pholGA = uv
elif uv >= 5400 and uv <10800:
    pholGA = 10800-uv
elif uv >= 10800 and uv <16200:
    pholGA = uv-10800
elif uv >= 16200:
    pholGA = 21600-uv


khan = pholGA // 900
pushlip = pholGA % 900

jyaGA = (moon_table[0][khan]*pushlip) // 900
chandraphol = moon_table[1][khan]+jyaGA

if uv < 10800:
    Smoon = mathamoon-chandraphol
elif uv > 10800:
    Smoon= mathamoon+chandraphol
elif uv == 10800:
    if(chandraphol != 0):raise Exception('uv=10800 but chandraphol not 0')
    Smoon= mathamoon

if Smoon < 0:
    Smoon = Smoon+21600
elif Smoon > 21600:
    Smoon= Smoon-21600

zodiac,frac = divmod(Smoon,1800)
degree,minute = divmod(frac,60)

print('zodiac=',zodiac)
print('degree=',degree)
print('minute=',minute)
print('mtu=',mtu)
print('mathamoon=',mathamoon)
print('uv=',uv)
print('pholGA=',pholGA)
print('khan =',khan)
print('pushlip =',pushlip)
print('jyaGA =',jyaGA)
print('chandraphol =',chandraphol)
print('Smoon =',Smoon)
print('zodiac =',zodiac)
print('degree =',degree)
print('minute =',minute)

zodiac= 0
degree= 27
minute= 37
mtu= 18895
mathamoon= 1954
uv= 4659
pholGA= 4659
khan = 5
pushlip = 159
jyaGA = 1
chandraphol = 297
Smoon = 1657
zodiac = 0
degree = 27
minute = 37