In [6]:
import math
from datetime import date
from datetime import datetime
from datetime import timedelta
import pandas as pd

In [7]:
def NYdate(jula_year):
    ny = jula_year*0.25875-int(jula_year/4 +0.5)+int(jula_year/100 +0.38)-int(jula_year/400 +0.595)-5.53375
    jultin =  ((jula_year*292207)+373)%800
    hour,frac = divmod(jultin*24,800)
    minute,frac = divmod(frac*60,800)
    second,frac = divmod(frac*60,800)
    christ_year = jula_year+638
    dtny = datetime(christ_year, 4, int(ny), hour , minute, second)
    return dtny;

In [8]:
class hora:
    def __init__(self,dt):
        offset = timedelta(minutes=18)
        dt= dt-offset
        jula_year = dt.year-638    
        d = date(dt.year,dt.month,dt.day)
        dtf= datetime(dt.year,dt.month,dt.day,0,0)        
        dtny = NYdate(jula_year)
        dny = date(dtny.year,dtny.month,dtny.day)
        
        if (dt>=dtny):
            jula_newyear = jula_year
        elif (dt<dtny):
            jula_newyear = jula_year-1
            dtny = NYdate(jula_newyear)
            dny = date(dtny.year,dtny.month,dtny.day)

            
        temp = (jula_newyear*292207)+373
        ahra = (temp//800)+1
        jultin =  temp%800

        kj = 800-jultin
        temp,aw= divmod((ahra*11)+650,692)
        masG,dT=divmod((ahra+temp),30)

        au = (ahra-621)%3232
        van = ahra%7

        stin = (d-dny).days
        sec = (dt-dtf).seconds

        ahra_ = ahra+stin
        stkm = (stin-1)*800
        kj_ = kj + stkm + sec//108

        awjt = (stin-1)*703+aw
        aws = awjt+(sec*703)//86400
        awdT,aw_=divmod(aws,692)
        temp,dT_=divmod((awdT+dT),30)
        masG_ = masG+temp
        van_=ahra_%7

        if (au+stin > 3232):
            au_ = au+stin-3232
        else: au_= au+stin        
        
        
##########################SUN###############################
        sun_table = [[35,32,27,22,13,5,0],
                     [0,35,67,94,116,129,134]]

        z = kj_ // 24350
        z_remainder = kj_ % 24350
        degree = z_remainder//811
        d_remainder = z_remainder % 811
        minute = d_remainder//14

        d_total = z*30+degree
        mathasun = d_total*60+minute-3


        if mathasun >= 21600:
            raise Exception('mathasun exceed or equal 21600')
        elif mathasun < 0:
            raise Exception('mathasun below 0')
        elif mathasun < 4800:
            pholsun = 21600+mathasun-4800
        else:
            pholsun = mathasun-4800


        if pholsun >= 21600:
            raise Exception('pholsun exceed or equal 21600')
        elif pholsun < 0:
            raise Exception('pholsun below 0')
        elif pholsun >= 0 and pholsun <5400:
            pholGA = pholsun

        elif pholsun >= 5400 and pholsun <10800:
            pholGA = 10800-pholsun

        elif pholsun >= 10800 and pholsun <16200:
            pholGA = pholsun-10800

        elif pholsun >= 16200:
            pholGA = 21600-pholsun


        khan = pholGA // 900
        pushlip = pholGA % 900


        jyaGA = (sun_table[0][khan]*pushlip) // 900
        ravipphol = sun_table[1][khan]+jyaGA


        if pholsun < 10800:
            Ssun = mathasun-ravipphol
        elif pholsun > 10800:
            Ssun= mathasun+ravipphol
        elif pholsun == 10800:
            if(ravipphol != 0):raise Exception('pholsun=10800 but ravipphol not 0')
            Ssun= mathasun

        if Ssun < 0:
            Ssun = Ssun+21600
        elif Ssun > 21600:
            Ssun= Ssun-21600
            
        #zodiac,frac = divmod(Ssun,1800)
        #degree,minute = divmod(frac,60)    
#        sun = []
#        sun.append(Ssun)
#         sun.append(Ssun//1800)
#         sun.append((Ssun%1800)//60)
#         sun.append((Ssun%1800)%60)

#         print('pholGA =',pholGA)
#         print('khan =',khan)
#         print('kj_ =',kj_)
#         print('mathasun =',mathasun)
#         print('Ssun =',Ssun)

##########################MOON###############################

        moon_table = [[77,71,61,47,30,10,0],
                     [0,77,148,209,256,286,296]]

        temp = (au_-1)*86400+sec

        #zodiac,frac = divmod(x,23270400)
        #degree,frac = divmod(frac,775680)
        #minute = frac // 12928

        zodiac = temp//23270400
        degree = (temp%23270400)//775680
        minute = ((temp%23270400)%775680)//12928
        d_total = zodiac*30+degree
        mtu = d_total*60+minute+2


        mathamoon = mathasun + aw_ +(aw_//25)+(dT_*720)-40
        if mathamoon >= 21600: 
            mathamoon = mathamoon-21600

        if mathamoon >= 21600:
            raise Exception('mathamoon exceed or equal 21600')
        elif mathamoon < 0:
            raise Exception('mathamoon below 0')
        elif mtu >= 21600:
            raise Exception('mtu exceed or equal 21600')
        elif mtu < 0:
            raise Exception('mtu below 0')
        elif mathamoon>=mtu:
            uv =  mathamoon-mtu
        elif mathamoon<mtu:
            uv = 21600+mathamoon-mtu


        if uv >= 21600:
            raise Exception('uv exceed or equal 21600')
        elif uv < 0:
            raise Exception('uv below 0')
        elif uv >= 0 and uv <5400:
            pholGA = uv
        elif uv >= 5400 and uv <10800:
            pholGA = 10800-uv
        elif uv >= 10800 and uv <16200:
            pholGA = uv-10800
        elif uv >= 16200:
            pholGA = 21600-uv


        khan = pholGA // 900
        pushlip = pholGA % 900

        jyaGA = (moon_table[0][khan]*pushlip) // 900
        chandraphol = moon_table[1][khan]+jyaGA

        if uv < 10800:
            Smoon = mathamoon-chandraphol
        elif uv > 10800:
            Smoon= mathamoon+chandraphol
        elif uv == 10800:
            if(chandraphol != 0):raise Exception('uv=10800 but chandraphol not 0')
            Smoon= mathamoon

        if Smoon < 0:
            Smoon = Smoon+21600
        elif Smoon > 21600:
            Smoon= Smoon-21600


##########################RAHU###############################
        matharavi = mathasun-23
        srb = jula_newyear-610
        manut = (srb*21600)+ matharavi

        a = manut//20
        b = manut//265
        pmt = (a+b)%21600

        Srahu = 15150-pmt
        if Srahu<0:
            Srahu = Srahu+21600

##########################GETH###############################
        pholgt = (ahra_-345)%679
        mathageth = (pholgt*21600 + (sec*21600)//86400)//679
        Sgeth = 21600-mathageth
        zodiac,frac = divmod(Sgeth,1800)
        degree,minute = divmod(frac,60)

        


                
##########################Inner Plannets##################################
        plannet = ['mercury','venus']
        for plannet in plannet: 
            if plannet  == 'mercury':
                matha = ((manut*7)//46 + (manut*4)//1 + 10642)%21600
                pholPK = matharavi-13200
            elif plannet == 'venus':
                matha = ((manut*5)//3 - (manut*10)//243 + 10944)%21600
                pholPK = matharavi-4800
                
            if pholPK<0:
                pholPK = pholPK+21600

            ptma = (pholPK//5400)+1
            if ptma == 1:
                puchaPT = pholPK
                khotiPT = 5400-pholPK
            elif ptma == 2:
                puchaPT = 10800-pholPK
                khotiPT = pholPK-5400
            elif ptma == 3:
                puchaPT = pholPK-10800
                khotiPT = 16200-pholPK
            elif ptma == 4:
                puchaPT = 21600-pholPK
                khotiPT = pholPK-16200

            # puchaPT = 1064
            # khotiPT = 4336

            if puchaPT < 0:
                raise Exception('puchaPT is below 0')
            elif puchaPT > 5400:
                raise Exception('puchaPT is greater than 5400')
            elif puchaPT < 1800:
                MTpucha = (puchaPT*14640)//1800
            elif (puchaPT >= 1800) and (puchaPT < 3600) :
                MTpucha = (((puchaPT-1800)*10980)//1800)+14640
            elif puchaPT >= 3600 :
                MTpucha = (((puchaPT-3600)*3660)//1800)+25620

            if khotiPT < 0:
                raise Exception('khotiPT is below 0')
            elif khotiPT > 5400:
                raise Exception('khotiPT is greater than 5400')
            elif khotiPT < 1800:
                MTKhoti = (khotiPT*14640)//1800
            elif (khotiPT >= 1800) and (khotiPT < 3600) :
                MTKhoti = (((khotiPT-1800)*10980)//1800)+14640
            elif khotiPT >= 3600 :
                MTKhoti = (((khotiPT-3600)*3660)//1800)+25620

            MTKhoti = (MTKhoti+30)//60
            khotiphol = MTKhoti//2


            if plannet == 'mercury':
                if (ptma ==1) or (ptma ==4):
                    MTcheta = 100*60 + khotiphol
                elif (ptma ==2) or (ptma ==3):
                    MTcheta=  100*60 - khotiphol
            elif plannet == 'venus':
                if (ptma ==1) or (ptma ==4):
                    MTcheta = 320*60 + khotiphol
                elif (ptma ==2) or (ptma ==3):
                    MTcheta=  320*60 - khotiphol          
            
            

            MTphol = (MTpucha*60)//MTcheta


            if (ptma ==1) or (ptma ==2):
                if (matharavi  - MTphol)>=0:
                    MTS = matharavi  - MTphol
                elif (matharavi  - MTphol)<0:
                    MTS =  matharavi  - MTphol + 21600
                    print('MTS =',matharavi  - MTphol,'adjust to',MTS)          

            elif (ptma ==3) or (ptma ==4):
                if (matharavi  + MTphol)>=21600:
                    MTS = matharavi  + MTphol - 21600
                    print('MTS =',matharavi  + MTphol,'adjust to',MTS)
                elif(matharavi  + MTphol)<21600:
                    MTS = matharavi  + MTphol


            pholMT = MTS-matha
            if pholMT<0:
                pholMT=pholMT+21600

            ptnd = (pholMT//5400)+1
            if ptnd == 1:
                puchaTY = pholMT
                khotiTY = 5400-pholMT
            elif ptnd == 2:
                puchaTY = 10800-pholMT
                khotiTY = pholMT-5400
            elif ptnd == 3:
                puchaTY = pholMT-10800
                khotiTY = 16200-pholMT
            elif ptnd == 4:
                puchaTY = 21600-pholMT
                khotiTY = pholMT-16200

            if puchaTY < 0:
                raise Exception('puchaTY is below 0')
            elif puchaTY > 5400:
                raise Exception('puchaTY is greater than 5400')
            elif puchaTY < 1800:
                SGPucha = (puchaTY*14640)//1800
            elif (puchaTY >= 1800) and (puchaTY < 3600) :
                SGPucha = (((puchaTY-1800)*10980)//1800)+14640
            elif puchaTY >= 3600 :
                SGPucha = (((puchaTY-3600)*3660)//1800)+25620

            if khotiTY < 0:
                raise Exception('khotiTY is below 0')
            elif khotiTY > 5400:
                raise Exception('khotiTY is greater than 5400')
            elif khotiTY < 1800:
                SGKhoti = (khotiTY*14640)//1800
            elif (khotiTY >= 1800) and (khotiTY < 3600) :
                SGKhoti = (((khotiTY-1800)*10980)//1800)+14640
            elif khotiTY >= 3600 :
                SGKhoti = (((khotiTY-3600)*3660)//1800)+25620

            SGKhoti = (SGKhoti+30)//60
            SGphol = ((SGPucha+30)//60)//3


            if plannet == 'mercury': p= 21*60
            elif plannet == 'venus': p= 11*60            
            
            
            sp = p+SGphol

            if (ptnd ==1) or (ptnd ==4):
                SGcheta = sp + SGKhoti
            elif (ptnd ==2) or (ptnd ==3):
                SGcheta = sp - SGKhoti

            if SGcheta < 0:
                raise Exception('SGcheta < 0')
            elif khotiTY > 21600:
                raise Exception('SGcheta > SGcheta')

            mahaphol = (SGPucha*60)//SGcheta
            
            
            
            if plannet == 'mercury': 
                if (ptnd ==1) or (ptnd ==2):
                    if (MTS - mahaphol)>=0:
                        SMercury = MTS - mahaphol
                    elif (MTS - mahaphol)<0:
                        SMercury =  MTS - mahaphol + 21600
                        print('Smercury =',MTS - mahaphol,'adjust to',SMercury)          

                elif (ptnd ==3) or (ptnd ==4):
                    if (MTS + mahaphol)>=21600:
                        SMercury = MTS + mahaphol - 21600
                        print('SMercury =',MTS + mahaphol,'adjust to',SMercury)
                    elif(MTS + mahaphol)<21600:
                        SMercury = MTS + mahaphol
            elif plannet == 'venus': 
                if (ptnd ==1) or (ptnd ==2):
                    if (MTS - mahaphol)>=0:
                        SVenus = MTS - mahaphol
                    elif (MTS - mahaphol)<0:
                        SVenus =  MTS - mahaphol + 21600
                        print('SVenus =',MTS - mahaphol,'adjust to',SVenus)          

                elif (ptnd ==3) or (ptnd ==4):
                    if (MTS + mahaphol)>=21600:
                        SVenus = MTS + mahaphol - 21600
                        print('SVenus =',MTS + mahaphol,'adjust to',SVenus)
                    elif(MTS + mahaphol)<21600:
                        SVenus = MTS + mahaphol               





                
##########################Other Plannets####################################

        plannet = ['mars','jupiter','saturn','uranus']
        for plannet in plannet: 
 
            if plannet  == 'mars':
                matha  =  ((manut*1)//2 + (manut*16)//505 + 5420)%21600         
                pholPK = matha-7620
            elif plannet == 'jupiter':
                matha  = ((manut*1)//12 + (manut*1)//1032 + 14297)%21600
                pholPK = matha-10320
            elif plannet == 'saturn':
                matha  = ((manut*1)//30 + (manut*6)//10000 + 11944)%21600
                pholPK = matha-14820
            elif plannet == 'uranus':
                matha  = ((manut*1)//84 + (manut*1)//7224 + 16277)%21600
                pholPK = matha-7440        

            if pholPK<0:
                pholPK = pholPK+21600


            ptma = (pholPK//5400)+1
            if ptma == 1:
                puchaPT = pholPK
                khotiPT = 5400-pholPK
            elif ptma == 2:
                puchaPT = 10800-pholPK
                khotiPT = pholPK-5400
            elif ptma == 3:
                puchaPT = pholPK-10800
                khotiPT = 16200-pholPK
            elif ptma == 4:
                puchaPT = 21600-pholPK
                khotiPT = pholPK-16200

            # puchaPT = 1064
            # khotiPT = 4336

            if puchaPT < 0:
                raise Exception('puchaPT is below 0')
            elif puchaPT > 5400:
                raise Exception('puchaPT is greater than 5400')
            elif puchaPT < 1800:
                MTpucha = (puchaPT*14640)//1800
            elif (puchaPT >= 1800) and (puchaPT < 3600) :
                MTpucha = (((puchaPT-1800)*10980)//1800)+14640
            elif puchaPT >= 3600 :
                MTpucha = (((puchaPT-3600)*3660)//1800)+25620

            if khotiPT < 0:
                raise Exception('khotiPT is below 0')
            elif khotiPT > 5400:
                raise Exception('khotiPT is greater than 5400')
            elif khotiPT < 1800:
                MTKhoti = (khotiPT*14640)//1800
            elif (khotiPT >= 1800) and (khotiPT < 3600) :
                MTKhoti = (((khotiPT-1800)*10980)//1800)+14640
            elif khotiPT >= 3600 :
                MTKhoti = (((khotiPT-3600)*3660)//1800)+25620

            MTKhoti = (MTKhoti+30)//60
            khotiphol = MTKhoti//2


            if plannet == 'mars':
                if (ptma ==1) or (ptma ==4):
                    MTcheta = 45*60 + khotiphol
                elif (ptma ==2) or (ptma ==3):
                    MTcheta=  45*60 - khotiphol
            elif plannet == 'jupiter':
                if (ptma ==1) or (ptma ==4):
                    MTcheta = 92*60 + khotiphol
                elif (ptma ==2) or (ptma ==3):
                    MTcheta=  92*60 - khotiphol
            elif plannet == 'saturn':
                if (ptma ==1) or (ptma ==4):
                    MTcheta = 63*60 + khotiphol
                elif (ptma ==2) or (ptma ==3):
                    MTcheta=  63*60 - khotiphol
            elif plannet == 'uranus':
                if (ptma ==1) or (ptma ==4):
                    MTcheta = 644*60 + khotiphol
                elif (ptma ==2) or (ptma ==3):
                    MTcheta=  644*60 - khotiphol  



            MTphol = (MTpucha*60)//MTcheta


            if (ptma ==1) or (ptma ==2):
                if (matha - MTphol)>=0:
                    MTS = matha - MTphol
                elif (matha - MTphol)<0:
                    MTS =  matha - MTphol + 21600
                    print('MTS =',matha - MTphol,'adjust to',MTS)          

            elif (ptma ==3) or (ptma ==4):
                if (matha + MTphol)>=21600:
                    MTS = matha + MTphol - 21600
                    print('MTS =',matha + MTphol,'adjust to',MTS)
                elif(matha + MTphol)<21600:
                    MTS = matha + MTphol


            pholMT = MTS-matharavi
            if pholMT<0:
                pholMT=pholMT+21600

            ptnd = (pholMT//5400)+1
            if ptnd == 1:
                puchaTY = pholMT
                khotiTY = 5400-pholMT
            elif ptnd == 2:
                puchaTY = 10800-pholMT
                khotiTY = pholMT-5400
            elif ptnd == 3:
                puchaTY = pholMT-10800
                khotiTY = 16200-pholMT
            elif ptnd == 4:
                puchaTY = 21600-pholMT
                khotiTY = pholMT-16200

            if puchaTY < 0:
                raise Exception('puchaTY is below 0')
            elif puchaTY > 5400:
                raise Exception('puchaTY is greater than 5400')
            elif puchaTY < 1800:
                SGPucha = (puchaTY*14640)//1800
            elif (puchaTY >= 1800) and (puchaTY < 3600) :
                SGPucha = (((puchaTY-1800)*10980)//1800)+14640
            elif puchaTY >= 3600 :
                SGPucha = (((puchaTY-3600)*3660)//1800)+25620

            if khotiTY < 0:
                raise Exception('khotiTY is below 0')
            elif khotiTY > 5400:
                raise Exception('khotiTY is greater than 5400')
            elif khotiTY < 1800:
                SGKhoti = (khotiTY*14640)//1800
            elif (khotiTY >= 1800) and (khotiTY < 3600) :
                SGKhoti = (((khotiTY-1800)*10980)//1800)+14640
            elif khotiTY >= 3600 :
                SGKhoti = (((khotiTY-3600)*3660)//1800)+25620

            SGKhoti = (SGKhoti+30)//60
            SGphol = ((SGPucha+30)//60)//3

            
            if plannet == 'mars': p= (4*MTcheta)//15 
            elif plannet == 'jupiter': p= (3*MTcheta)//7
            elif plannet == 'saturn': p= (7*MTcheta)//6 
            elif plannet == 'uranus':p= (3*MTcheta)//7 
    

            sp = p+SGphol
            if (ptnd ==1) or (ptnd ==4):
                SGcheta = sp + SGKhoti
            elif (ptnd ==2) or (ptnd ==3):
                SGcheta = sp - SGKhoti

            if SGcheta < 0:
                raise Exception('SGcheta < 0')
            elif khotiTY > 21600:
                raise Exception('SGcheta > SGcheta')

            mahaphol = (SGPucha*60)//SGcheta

            

            if plannet == 'mars':
                if (ptnd ==1) or (ptnd ==2):
                    if (MTS - mahaphol)>=0:
                        Smars = MTS - mahaphol
                    elif (MTS - mahaphol)<0:
                        Smars =  MTS - mahaphol + 21600
                        print('Smars =',MTS - mahaphol,'adjust to',Smars)          

                elif (ptnd ==3) or (ptnd ==4):
                    if (MTS + mahaphol)>=21600:
                        Smars = MTS + mahaphol - 21600
                        print('Smars =',MTS + mahaphol,'adjust to',Smars)
                    elif(MTS + mahaphol)<21600:
                        Smars = MTS + mahaphol 
            elif plannet == 'jupiter':
                if (ptnd ==1) or (ptnd ==2):
                    if (MTS - mahaphol)>=0:
                        Jupiter = MTS - mahaphol
                    elif (MTS - mahaphol)<0:
                        Jupiter =  MTS - mahaphol + 21600
                        print('Jupiter =',MTS - mahaphol,'adjust to',Jupiter)          

                elif (ptnd ==3) or (ptnd ==4):
                    if (MTS + mahaphol)>=21600:
                        Jupiter = MTS + mahaphol - 21600
                        print('Jupiter =',MTS + mahaphol,'adjust to',Jupiter)
                    elif(MTS + mahaphol)<21600:
                        Jupiter = MTS + mahaphol 
            elif plannet == 'saturn':
                if (ptnd ==1) or (ptnd ==2):
                    if (MTS - mahaphol)>=0:
                        SSaturn = MTS - mahaphol
                    elif (MTS - mahaphol)<0:
                        SSaturn =  MTS - mahaphol + 21600
                        print('SSaturn =',MTS - mahaphol,'adjust to',SSaturn)          

                elif (ptnd ==3) or (ptnd ==4):
                    if (MTS + mahaphol)>=21600:
                        SSaturn = MTS + mahaphol - 21600
                        print('SSaturn =',MTS + mahaphol,'adjust to',SSaturn)
                    elif(MTS + mahaphol)<21600:
                        SSaturn = MTS + mahaphol
            elif plannet == 'uranus':
                if (ptnd ==1) or (ptnd ==2):
                    if (MTS - mahaphol)>=0:
                        SUranus = MTS - mahaphol
                    elif (MTS - mahaphol)<0:
                        SUranus =  MTS - mahaphol + 21600
                        print('SUranus =',MTS - mahaphol,'adjust to',SUranus)          

                elif (ptnd ==3) or (ptnd ==4):
                    if (MTS + mahaphol)>=21600:
                        SUranus = MTS + mahaphol - 21600
                        print('SUranus =',MTS + mahaphol,'adjust to',SUranus)
                    elif(MTS + mahaphol)<21600:
                        SUranus = MTS + mahaphol 
    



        

#         print('uv =',uv)
#         print('pholGA =',pholGA)
#         print('khan =',khan)
#         print('Smoon =',Smoon)

#         print('au_ =',au_)
#         print('mtu =',mtu)
#         print('uv =',uv)
#         print('Smoon =',Smoon)

        #TS Parameter (yearly parameter) 
        self.dt = dt  
        self.dtny = dtny 
        self.dny = dny 
        self.ahra = ahra 
        self.jultin = jultin 
        self.kj = kj 
        self.aw = aw 
        self.masG = masG 
        self.dT = dT
        self.au = au 
        self.van = van 
        
        #Given Datetime parameter
        self.stin = stin 
        self.sec = sec 
        self.ahra_ = ahra_ 
        self.kj_ = kj_ 
        self.aw_ = aw_ 
        self.masG_ = masG_ 
        self.dT_ = dT_
        self.au_ = au_ 
        self.van_ = van_
     
        #locations in zodiac (minutes maximum = 21600) 
        self.sun = Ssun
        self.moon = Smoon
        self.rahu = Srahu
        self.geth = Sgeth
        self.mars = Smars
        self.mercury = SMercury
        self.venus = SVenus
        self.jupiter = Jupiter
        self.saturn = SSaturn
        self.uranus = SUranus

In [12]:
startdate = datetime(2019,1,1,0,0)
df = pd.DataFrame()
#count = 108000
count = 366
#count = 2000

#select timeframe
interval = 'day'
#interval = 'minutes'

for i in range(0,count):
    if interval=='minutes':
        diff = timedelta(minutes=i)
    elif interval=='day':
        diff = timedelta(days=i)
        
    dt = startdate+diff
    h = hora(dt)    
    data = {
        'dt': dt,
        'sun' : h.sun,
        'moon': h.moon,
        'rahu' : h.rahu,
        'geth' : h.geth,
        'mars' : h.mars,
        'mercury' : h.mercury,
        'venus' : h.venus,
        'jupiter' : h.jupiter,
        'saturn' : h.saturn,
        'uranus' : h.uranus
    }


    print(dt.day,dt.month,dt.year,dt.hour,':',dt.minute)
    #df = pd.DataFrame(data)
    df = df.append(data , ignore_index=True)
df
#loops = ['sun','moon','rahu','geth','mars','mercury','venus','jupiter','saturn','uranus'] 

# for planet in loops:
#     zodiac = planet+"_Z"
#     degree = planet+"_D"
#     minute = planet+"_M"
#     df[zodiac] =  df[planet]//1800 
#     df[degree] =  (df[planet]%1800)//60 
#     df[minute] =  (df[planet]%1800)%60
    
#df.dtypes



# data = {
#     'dt': [startdate],
#     'sun' : [h.sun],
#     'moon': [h.moon],
#     'rahu' : [h.rahu],
#     'geth' : [h.geth],
#     'mars' : [h.mars],
#     'mercury' : [h.mercury],
#     'venus' : [h.venus],
#     'jupiter' : [h.jupiter],
#     'saturn' : [h.saturn],
#     'uranus' : [h.uranus]
# }
#startdate = datetime(2019,4,16,0,0) mathasun-

Smars = -1498 adjust to 20102
1 1 2019 0 : 0
Smars = -1469 adjust to 20131
2 1 2019 0 : 0
Smars = -1430 adjust to 20170
3 1 2019 0 : 0
Smars = -1397 adjust to 20203
4 1 2019 0 : 0
Smars = -1359 adjust to 20241
5 1 2019 0 : 0
Smars = -1324 adjust to 20276
6 1 2019 0 : 0
Smars = -1293 adjust to 20307
7 1 2019 0 : 0
Smars = -1254 adjust to 20346
8 1 2019 0 : 0
Smars = -1219 adjust to 20381
9 1 2019 0 : 0
Smars = -1170 adjust to 20430
10 1 2019 0 : 0
Smars = -1126 adjust to 20474
11 1 2019 0 : 0
Smars = -1078 adjust to 20522
12 1 2019 0 : 0
Smars = -1033 adjust to 20567
13 1 2019 0 : 0
Smars = -986 adjust to 20614
14 1 2019 0 : 0
Smars = -940 adjust to 20660
15 1 2019 0 : 0
Smars = -901 adjust to 20699
16 1 2019 0 : 0
Smars = -850 adjust to 20750
17 1 2019 0 : 0
Smars = -807 adjust to 20793
18 1 2019 0 : 0
Smars = -764 adjust to 20836
19 1 2019 0 : 0
Smars = -718 adjust to 20882
20 1 2019 0 : 0
Smars = -675 adjust to 20925
21 1 2019 0 : 0
Smars = -628 adjust to 20972
22 1 2019 0 : 0
Smars = -587 adjust to 21013
23 1 2019 0 : 0
Smars = -541 adjust to 21059
24 1 2019 0 : 0
Smars = -498 adjust to 21102
25 1 2019 0 : 0
Smars = -453 adjust to 21147
26 1 2019 0 : 0
Smars = -407 adjust to 21193
27 1 2019 0 : 0
Smars = -366 adjust to 21234
28 1 2019 0 : 0
Smars = -324 adjust to 21276
29 1 2019 0 : 0
Smars = -282 adjust to 21318
30 1 2019 0 : 0
Smars = -236 adjust to 21364
31 1 2019 0 : 0
Smars = -197 adjust to 21403
1 2 2019 0 : 0
Smars = -153 adjust to 21447
2 2 2019 0 : 0
Smars = -109 adjust to 21491
3 2 2019 0 : 0
Smars = -67 adjust to 21533
4 2 2019 0 : 0
Smars = -24 adjust to 21576
5 2 2019 0 : 0
6 2 2019 0 : 0
7 2 2019 0 : 0
8 2 2019 0 : 0
9 2 2019 0 : 0
10 2 2019 0 : 0
11 2 2019 0 : 0
12 2 2019 0 : 0
13 2 2019 0 : 0
14 2 2019 0 : 0
15 2 2019 0 : 0
16 2 2019 0 : 0
17 2 2019 0 : 0
18 2 2019 0 : 0
19 2 2019 0 : 0
20 2 2019 0 : 0
21 2 2019 0 : 0
22 2 2019 0 : 0
23 2 2019 0 : 0
24 2 2019 0 : 0
25 2 2019 0 : 0
26 2 2019 0 : 0
27 2 2019 0 : 0
28 2 2019 0 : 0
1 3 2019 0 : 0
2 3 2019 0 : 0
3 3 2019 0 : 0
4 3 2019 0 : 0
5 3 2019 0 : 0
6 3 2019 0 : 0
7 3 2019 0 : 0
8 3 2019 0 : 0
9 3 2019 0 : 0
10 3 2019 0 : 0
11 3 2019 0 : 0
12 3 2019 0 : 0
13 3 2019 0 : 0
14 3 2019 0 : 0
15 3 2019 0 : 0
16 3 2019 0 : 0
17 3 2019 0 : 0
18 3 2019 0 : 0
19 3 2019 0 : 0
20 3 2019 0 : 0
21 3 2019 0 : 0
22 3 2019 0 : 0
23 3 2019 0 : 0
24 3 2019 0 : 0
25 3 2019 0 : 0
26 3 2019 0 : 0
27 3 2019 0 : 0
28 3 2019 0 : 0
29 3 2019 0 : 0
30 3 2019 0 : 0
31 3 2019 0 : 0
1 4 2019 0 : 0
2 4 2019 0 : 0
3 4 2019 0 : 0
4 4 2019 0 : 0
5 4 2019 0 : 0
6 4 2019 0 : 0
7 4 2019 0 : 0
8 4 2019 0 : 0
9 4 2019 0 : 0
10 4 2019 0 : 0
11 4 2019 0 : 0
12 4 2019 0 : 0
13 4 2019 0 : 0
14 4 2019 0 : 0
15 4 2019 0 : 0
MTS = 21614 adjust to 14
SVenus = -1911 adjust to 19689
16 4 2019 0 : 0
MTS = -205 adjust to 21395
SVenus = -1838 adjust to 19762
17 4 2019 0 : 0
MTS = -143 adjust to 21457
SVenus = -1766 adjust to 19834
18 4 2019 0 : 0
MTS = -79 adjust to 21521
SVenus = -1691 adjust to 19909
19 4 2019 0 : 0
MTS = -16 adjust to 21584
SVenus = -1619 adjust to 19981
20 4 2019 0 : 0
Smercury = -745 adjust to 20855
SVenus = -1544 adjust to 20056
21 4 2019 0 : 0
Smercury = -637 adjust to 20963
SVenus = -1473 adjust to 20127
22 4 2019 0 : 0
Smercury = -528 adjust to 21072
SVenus = -1398 adjust to 20202
23 4 2019 0 : 0
Smercury = -422 adjust to 21178
SVenus = -1325 adjust to 20275
24 4 2019 0 : 0
Smercury = -316 adjust to 21284
SVenus = -1253 adjust to 20347
25 4 2019 0 : 0
Smercury = -211 adjust to 21389
SVenus = -1180 adjust to 20420
26 4 2019 0 : 0
Smercury = -107 adjust to 21493
SVenus = -1109 adjust to 20491
27 4 2019 0 : 0
SVenus = -1033 adjust to 20567
28 4 2019 0 : 0
SVenus = -963 adjust to 20637
29 4 2019 0 : 0
SVenus = -890 adjust to 20710
30 4 2019 0 : 0
SVenus = -821 adjust to 20779
1 5 2019 0 : 0
SVenus = -749 adjust to 20851
2 5 2019 0 : 0
SVenus = -675 adjust to 20925
3 5 2019 0 : 0
SVenus = -606 adjust to 20994
4 5 2019 0 : 0
SVenus = -533 adjust to 21067
5 5 2019 0 : 0
SVenus = -461 adjust to 21139
6 5 2019 0 : 0
SVenus = -392 adjust to 21208
7 5 2019 0 : 0
SVenus = -319 adjust to 21281
8 5 2019 0 : 0
SVenus = -251 adjust to 21349
9 5 2019 0 : 0
SVenus = -178 adjust to 21422
10 5 2019 0 : 0
SVenus = -109 adjust to 21491
11 5 2019 0 : 0
SVenus = -37 adjust to 21563
12 5 2019 0 : 0
13 5 2019 0 : 0
14 5 2019 0 : 0
15 5 2019 0 : 0
16 5 2019 0 : 0
17 5 2019 0 : 0
18 5 2019 0 : 0
19 5 2019 0 : 0
20 5 2019 0 : 0
21 5 2019 0 : 0
22 5 2019 0 : 0
23 5 2019 0 : 0
24 5 2019 0 : 0
25 5 2019 0 : 0
26 5 2019 0 : 0
27 5 2019 0 : 0
28 5 2019 0 : 0
29 5 2019 0 : 0
30 5 2019 0 : 0
31 5 2019 0 : 0
1 6 2019 0 : 0
2 6 2019 0 : 0
3 6 2019 0 : 0
4 6 2019 0 : 0
5 6 2019 0 : 0
6 6 2019 0 : 0
7 6 2019 0 : 0
8 6 2019 0 : 0
9 6 2019 0 : 0
10 6 2019 0 : 0
11 6 2019 0 : 0
12 6 2019 0 : 0
13 6 2019 0 : 0
14 6 2019 0 : 0
15 6 2019 0 : 0
16 6 2019 0 : 0
17 6 2019 0 : 0
18 6 2019 0 : 0
19 6 2019 0 : 0
20 6 2019 0 : 0
21 6 2019 0 : 0
22 6 2019 0 : 0
23 6 2019 0 : 0
24 6 2019 0 : 0
25 6 2019 0 : 0
26 6 2019 0 : 0
27 6 2019 0 : 0
28 6 2019 0 : 0
29 6 2019 0 : 0
30 6 2019 0 : 0
1 7 2019 0 : 0
2 7 2019 0 : 0
3 7 2019 0 : 0
4 7 2019 0 : 0
5 7 2019 0 : 0
6 7 2019 0 : 0
7 7 2019 0 : 0
8 7 2019 0 : 0
9 7 2019 0 : 0
10 7 2019 0 : 0
11 7 2019 0 : 0
12 7 2019 0 : 0
13 7 2019 0 : 0
14 7 2019 0 : 0
15 7 2019 0 : 0
16 7 2019 0 : 0
17 7 2019 0 : 0
18 7 2019 0 : 0
19 7 2019 0 : 0
20 7 2019 0 : 0
21 7 2019 0 : 0
22 7 2019 0 : 0
23 7 2019 0 : 0
24 7 2019 0 : 0
25 7 2019 0 : 0
26 7 2019 0 : 0
27 7 2019 0 : 0
28 7 2019 0 : 0
29 7 2019 0 : 0
30 7 2019 0 : 0
31 7 2019 0 : 0
1 8 2019 0 : 0
2 8 2019 0 : 0
3 8 2019 0 : 0
4 8 2019 0 : 0
5 8 2019 0 : 0
6 8 2019 0 : 0
7 8 2019 0 : 0
8 8 2019 0 : 0
9 8 2019 0 : 0
10 8 2019 0 : 0
11 8 2019 0 : 0
12 8 2019 0 : 0
13 8 2019 0 : 0
14 8 2019 0 : 0
15 8 2019 0 : 0
16 8 2019 0 : 0
17 8 2019 0 : 0
18 8 2019 0 : 0
19 8 2019 0 : 0
20 8 2019 0 : 0
21 8 2019 0 : 0
22 8 2019 0 : 0
23 8 2019 0 : 0
24 8 2019 0 : 0
25 8 2019 0 : 0
26 8 2019 0 : 0
27 8 2019 0 : 0
28 8 2019 0 : 0
29 8 2019 0 : 0
30 8 2019 0 : 0
31 8 2019 0 : 0
1 9 2019 0 : 0
2 9 2019 0 : 0
3 9 2019 0 : 0
4 9 2019 0 : 0
5 9 2019 0 : 0
6 9 2019 0 : 0
7 9 2019 0 : 0
8 9 2019 0 : 0
9 9 2019 0 : 0
10 9 2019 0 : 0
11 9 2019 0 : 0
12 9 2019 0 : 0
13 9 2019 0 : 0
14 9 2019 0 : 0
15 9 2019 0 : 0
16 9 2019 0 : 0
17 9 2019 0 : 0
18 9 2019 0 : 0
19 9 2019 0 : 0
20 9 2019 0 : 0
21 9 2019 0 : 0
22 9 2019 0 : 0
23 9 2019 0 : 0
24 9 2019 0 : 0
25 9 2019 0 : 0
26 9 2019 0 : 0
27 9 2019 0 : 0
28 9 2019 0 : 0
29 9 2019 0 : 0
30 9 2019 0 : 0
1 10 2019 0 : 0
2 10 2019 0 : 0
3 10 2019 0 : 0
4 10 2019 0 : 0
5 10 2019 0 : 0
6 10 2019 0 : 0
7 10 2019 0 : 0
8 10 2019 0 : 0
9 10 2019 0 : 0
10 10 2019 0 : 0
11 10 2019 0 : 0
12 10 2019 0 : 0
13 10 2019 0 : 0
14 10 2019 0 : 0
15 10 2019 0 : 0
16 10 2019 0 : 0
17 10 2019 0 : 0
18 10 2019 0 : 0
19 10 2019 0 : 0
20 10 2019 0 : 0
21 10 2019 0 : 0
22 10 2019 0 : 0
23 10 2019 0 : 0
24 10 2019 0 : 0
25 10 2019 0 : 0
26 10 2019 0 : 0
27 10 2019 0 : 0
28 10 2019 0 : 0
29 10 2019 0 : 0
30 10 2019 0 : 0
31 10 2019 0 : 0
1 11 2019 0 : 0
2 11 2019 0 : 0
3 11 2019 0 : 0
4 11 2019 0 : 0
5 11 2019 0 : 0
6 11 2019 0 : 0
7 11 2019 0 : 0
8 11 2019 0 : 0
9 11 2019 0 : 0
10 11 2019 0 : 0
11 11 2019 0 : 0
12 11 2019 0 : 0
13 11 2019 0 : 0
14 11 2019 0 : 0
15 11 2019 0 : 0
16 11 2019 0 : 0
17 11 2019 0 : 0
18 11 2019 0 : 0
19 11 2019 0 : 0
20 11 2019 0 : 0
21 11 2019 0 : 0
22 11 2019 0 : 0
23 11 2019 0 : 0
24 11 2019 0 : 0
25 11 2019 0 : 0
26 11 2019 0 : 0
27 11 2019 0 : 0
28 11 2019 0 : 0
29 11 2019 0 : 0
30 11 2019 0 : 0
1 12 2019 0 : 0
2 12 2019 0 : 0
3 12 2019 0 : 0
4 12 2019 0 : 0
5 12 2019 0 : 0
6 12 2019 0 : 0
7 12 2019 0 : 0
8 12 2019 0 : 0
9 12 2019 0 : 0
10 12 2019 0 : 0
11 12 2019 0 : 0
12 12 2019 0 : 0
13 12 2019 0 : 0
14 12 2019 0 : 0
15 12 2019 0 : 0
16 12 2019 0 : 0
17 12 2019 0 : 0
18 12 2019 0 : 0
19 12 2019 0 : 0
20 12 2019 0 : 0
21 12 2019 0 : 0
22 12 2019 0 : 0
23 12 2019 0 : 0
24 12 2019 0 : 0
25 12 2019 0 : 0
26 12 2019 0 : 0
27 12 2019 0 : 0
28 12 2019 0 : 0
29 12 2019 0 : 0
30 12 2019 0 : 0
31 12 2019 0 : 0
1 1 2020 0 : 0

,dt,geth,jupiter,mars,mercury,moon,rahu,saturn,sun,uranus,venus
0,2019-01-01,16670.0,13755.0,20102.0,14623.0,11622.0,5565.0,15202.0,15329.0,710.0,12524.0
1,2019-01-02,16638.0,13767.0,20131.0,14723.0,12435.0,5562.0,15210.0,15391.0,711.0,12588.0
2,2019-01-03,16606.0,13779.0,20170.0,14830.0,13233.0,5559.0,15217.0,15452.0,710.0,12642.0
3,2019-01-04,16575.0,13791.0,20203.0,14937.0,14014.0,5556.0,15223.0,15513.0,711.0,12707.0
4,2019-01-05,16543.0,13802.0,20241.0,15046.0,14782.0,5553.0,15231.0,15576.0,712.0,12777.0
5,2019-01-06,16511.0,13815.0,20276.0,15154.0,15535.0,5549.0,15238.0,15636.0,711.0,12830.0
6,2019-01-07,16479.0,13826.0,20307.0,15262.0,16277.0,5546.0,15246.0,15697.0,712.0,12893.0
7,2019-01-08,16447.0,13838.0,20346.0,15369.0,17010.0,5543.0,15253.0,15758.0,712.0,12950.0
8,2019-01-09,16416.0,13850.0,20381.0,15479.0,17739.0,5540.0,15260.0,15821.0,712.0,13013.0
9,2019-01-10,16384.0,13862.0,20430.0,15588.0,18463.0,5536.0,15267.0,15882.0,713.0,13083.0
10,2019-01-11,16352.0,13874.0,20474.0,15695.0,19186.0,5533.0,15274.0,15943.0,713.0,13138.0
11,2019-01-12,16320.0,13886.0,20522.0,15803.0,19915.0,5530.0,15282.0,16005.0,714.0,13202.0
12,2019-01-13,16288.0,13899.0,20567.0,15911.0,20651.0,5527.0,15288.0,16066.0,714.0,13263.0
13,2019-01-14,16257.0,13910.0,20614.0,16021.0,21398.0,5524.0,15296.0,16128.0,714.0,13320.0
14,2019-01-15,16225.0,13923.0,20660.0,16129.0,556.0,5520.0,15303.0,16190.0,715.0,13391.0
15,2019-01-16,16193.0,13935.0,20699.0,16235.0,1327.0,5517.0,15310.0,16250.0,714.0,13446.0
16,2019-01-17,16161.0,13947.0,20750.0,16343.0,2113.0,5514.0,15317.0,16311.0,715.0,13509.0
17,2019-01-18,16129.0,13960.0,20793.0,16450.0,2915.0,5511.0,15324.0,16372.0,716.0,13565.0
18,2019-01-19,16098.0,13972.0,20836.0,16557.0,3731.0,5507.0,15332.0,16434.0,716.0,13628.0
19,2019-01-20,16066.0,13983.0,20882.0,16665.0,4561.0,5505.0,15339.0,16495.0,716.0,13695.0
20,2019-01-21,16034.0,13996.0,20925.0,16772.0,5404.0,5502.0,15345.0,16557.0,717.0,13754.0
21,2019-01-22,16002.0,14008.0,20972.0,16870.0,6253.0,5499.0,15353.0,16618.0,717.0,13815.0
22,2019-01-23,15970.0,14020.0,21013.0,16970.0,7109.0,5496.0,15360.0,16679.0,717.0,13878.0
23,2019-01-24,15938.0,14033.0,21059.0,17070.0,7965.0,5492.0,15367.0,16741.0,717.0,13934.0
24,2019-01-25,15907.0,14045.0,21102.0,17172.0,8823.0,5489.0,15374.0,16803.0,718.0,14004.0
25,2019-01-26,15875.0,14057.0,21147.0,17274.0,9674.0,5486.0,15381.0,16864.0,718.0,14059.0
26,2019-01-27,15843.0,14070.0,21193.0,17377.0,10518.0,5483.0,15389.0,16925.0,718.0,14122.0
27,2019-01-28,15811.0,14083.0,21234.0,17482.0,11350.0,5479.0,15396.0,16986.0,719.0,14184.0
28,2019-01-29,15779.0,14094.0,21276.0,17586.0,12169.0,5476.0,15402.0,17047.0,720.0,14241.0
29,2019-01-30,15748.0,14107.0,21318.0,17694.0,12976.0,5473.0,15410.0,17109.0,719.0,14309.0
...,...,...,...,...,...,...,...,...,...,...,...
336,2019-12-03,5981.0,14819.0,11682.0,12520.0,18003.0,4496.0,15585.0,13536.0,992.0,15050.0
337,2019-12-04,5950.0,14833.0,11723.0,12606.0,18740.0,4493.0,15591.0,13597.0,991.0,15122.0
338,2019-12-05,5918.0,14847.0,11762.0,12690.0,19471.0,4490.0,15596.0,13658.0,991.0,15193.0
339,2019-12-06,5886.0,14860.0,11801.0,12773.0,20197.0,4487.0,15602.0,13719.0,990.0,15266.0
340,2019-12-07,5854.0,14875.0,11841.0,12867.0,20921.0,4484.0,15609.0,13780.0,989.0,15338.0
341,2019-12-08,5822.0,14888.0,11881.0,12970.0,46.0,4480.0,15615.0,13841.0,989.0,15409.0
342,2019-12-09,5791.0,14902.0,11924.0,13074.0,777.0,4477.0,15621.0,13903.0,989.0,15483.0
343,2019-12-10,5759.0,14916.0,11966.0,13176.0,1516.0,4474.0,15626.0,13964.0,987.0,15552.0
344,2019-12-11,5727.0,14930.0,12007.0,13277.0,2265.0,4472.0,15634.0,14026.0,987.0,15625.0
345,2019-12-12,5695.0,14945.0,12050.0,13378.0,3029.0,4468.0,15641.0,14087.0,987.0,15698.0
346,2019-12-13,5663.0,14959.0,12090.0,13478.0,3806.0,4465.0,15648.0,14148.0,986.0,15770.0
347,2019-12-14,5632.0,14974.0,12133.0,13578.0,4600.0,4462.0,15655.0,14210.0,985.0,15844.0
348,2019-12-15,5600.0,14988.0,12174.0,13677.0,5407.0,4459.0,15662.0,14271.0,985.0,15914.0
349,2019-12-16,5568.0,15001.0,12216.0,13775.0,6229.0,4456.0,15670.0,14332.0,985.0,15987.0
350,2019-12-17,5536.0,15015.0,12258.0,13879.0,7061.0,4452.0,15677.0,14392.0,984.0,16060.0
351,2019-12-18,5504.0,15029.0,12300.0,13987.0,7904.0,4449.0,15683.0,14453.0,983.0,16132.0
352,2019-12-19,5472.0,15043.0,12342.0,14093.0,8757.0,4446.0,15691.0,14514.0,983.0,16206.0
353,2019-12-20,5441.0,15057.0,12384.0,14200.0,9613.0,4443.0,15698.0,14575.0,982.0,16277.0
354,2019-12-21,5409.0,15071.0,12426.0,14309.0,10471.0,4439.0,15706.0,14638.0,981.0,16351.0
355,2019-12-22,5377.0,15085.0,12468.0,14416.0,11325.0,4436.0,15712.0,14699.0,981.0,16426.0
356,2019-12-23,5345.0,15100.0,12507.0,14523.0,12174.0,4433.0,15720.0,14760.0,980.0,16498.0
357,2019-12-24,5313.0,15113.0,12544.0,14631.0,13014.0,4430.0,15728.0,14821.0,980.0,16573.0
358,2019-12-25,5282.0,15127.0,12583.0,14740.0,13845.0,4427.0,15734.0,14884.0,979.0,16647.0
359,2019-12-26,5250.0,15141.0,12622.0,14846.0,14661.0,4423.0,15742.0,14945.0,979.0,16720.0
360,2019-12-27,5218.0,15156.0,12659.0,14954.0,15460.0,4420.0,15749.0,15006.0,978.0,16795.0
361,2019-12-28,5186.0,15170.0,12698.0,15061.0,16245.0,4417.0,15756.0,15068.0,978.0,16868.0
362,2019-12-29,5154.0,15184.0,12735.0,15170.0,17014.0,4414.0,15763.0,15129.0,977.0,16943.0
363,2019-12-30,5123.0,15198.0,12773.0,15279.0,17772.0,4410.0,15770.0,15191.0,976.0,17018.0
364,2019-12-31,5091.0,15211.0,12813.0,15387.0,18516.0,4407.0,15778.0,15252.0,976.0,17091.0
365,2020-01-01,5059.0,15226.0,12851.0,15495.0,19252.0,4404.0,15785.0,15314.0,975.0,17167.0

In [4]:
dt1= datetime(2019,1,1,0,0)
dt2= datetime(1943,4,17,9,49)
dt3= datetime(2019,1,2,22,45)


test1= hora(dt1)
test2= hora(dt2)
test3= hora(dt3)

#Create dataframe
#Method1
data = {
    'dt': [dt1,dt2,dt3],
    'sun' : [test1.sun,test2.sun,test3.sun],
    'moon': [test1.moon,test2.moon,test3.moon],
    'rahu' : [test1.rahu,test2.rahu,test3.rahu],
    'geth' : [test1.geth,test2.geth,test3.geth],
    'mars' : [test1.mars,test2.mars,test3.mars],
    'mercury' : [test1.mercury,test2.mercury,test3.mercury],
    'venus' : [test1.venus,test2.venus,test3.venus],
    'jupiter' : [test1.jupiter,test2.jupiter,test3.jupiter],
    'saturn' : [test1.saturn,test2.saturn,test3.saturn],
    'uranus' : [test1.uranus,test2.uranus,test3.uranus]
}


#Method2
# data = [
#     {'dt': dt1, 'ssun': test1.sun, 'smoon': test1.moon},
#     {'dt': dt2, 'ssun': test2.sun, 'smoon': test2.moon},
#     {'dt': dt3, 'ssun': test3.sun, 'smoon': test3.moon},
# ]

df = pd.DataFrame(data)


loops = ['sun','moon','rahu','geth','mars','mercury','venus','jupiter','saturn','uranus'] 

for planet in loops:
    zodiac = planet+"_Z"
    degree = planet+"_D"
    minute = planet+"_M"
    df[zodiac] =  df[planet]//1800 
    df[degree] =  (df[planet]%1800)//60 
    df[minute] =  (df[planet]%1800)%60

# df['sun_Z'] =  df['ssun']//1800 
# df['sun_D'] =  (df['ssun']%1800)//60 
# df['sun_M'] =  (df['ssun']%1800)%60

df[['sun_Z','sun_D','sun_M','moon_Z','moon_D','moon_M','rahu_Z','rahu_D','rahu_M','geth_Z','geth_D','geth_M']]
#df[['mercury_Z','mercury_D','mercury_M','venus_Z','venus_D','venus_M']]
#df[['mars_Z','mars_D','mars_M','jupiter_Z','jupiter_D','jupiter_M','saturn_Z','saturn_D','saturn_M','uranus_Z','uranus_D','uranus_M']]

Smars = -1498 adjust to 20102
MTS = -137 adjust to 21463
SMercury = 22715 adjust to 1115
Smars = -1431 adjust to 20169

,sun_Z,sun_D,sun_M,moon_Z,moon_D,moon_M,rahu_Z,rahu_D,rahu_M,geth_Z,geth_D,geth_M
0,8,15,29,6,13,42,3,2,45,9,7,50
1,0,3,21,4,25,31,3,28,19,5,29,0
2,8,17,29,7,9,51,3,2,39,9,6,48

In [13]:
dt1= datetime(1984,1,27,9,49)
dt2= datetime(2007,3,30,8,55)
dt3= datetime(2010,1,27,22,52)


test1= hora(dt1)
test2= hora(dt2)
test3= hora(dt3)

#Create dataframe
#Method1
data = {
    'dt': [dt1,dt2,dt3],
    'ssun' : [test1.sun,test2.sun,test3.sun],
    'smoon': [test1.moon,test2.moon,test3.moon],
    'srahu' : [test1.rahu,test2.rahu,test3.rahu],
    'sgeth' : [test1.geth,test2.geth,test3.geth],
    'smars' : [test1.mars,test2.mars,test3.mars],
    'smercury' : [test1.mercury,test2.mercury,test3.mercury],
    'svenus' : [test1.venus,test2.venus,test3.venus],
    'jupiter' : [test1.jupiter,test2.jupiter,test3.jupiter],
    'ssaturn' : [test1.saturn,test2.saturn,test3.saturn],
    'suranus' : [test1.uranus,test2.uranus,test3.uranus]
}


#Method2
# data = [
#     {'dt': dt1, 'ssun': test1.sun, 'smoon': test1.moon},
#     {'dt': dt2, 'ssun': test2.sun, 'smoon': test2.moon},
#     {'dt': dt3, 'ssun': test3.sun, 'smoon': test3.moon},
# ]

df = pd.DataFrame(data)



#Add row to DataFrame
#METHOD1: add or update specify by row name 
#df.loc[2] = [dt3,10,20]
#df.loc[3] = [dt3,10,20]

#METHOD1.1: Add row to the end of dataframe 
#df.loc[len(df.index)] = [dt3,10,20]
#df.loc[len(df.index)] = [dt3,10,20]
# df.loc[len(df.index)] = [dt3,10,20]


#METHOD2: Add row to some columns
#df = df.append({'dt' : 'dateadded' , 'ssun' : 2222} , ignore_index=True)

#print(len(df.index))


#Change column name
#df.columns = 'a','b','c'

#create new column and data
#method1
#df['newcolumn1'] = ''
#df['newcolumn1'] = [1,2,3,4,5]

#Method2
#df.insert(4, "newcolumn2", [21, 23, 24, 21, 20], True) 
#df.insert(len(df.columns), "newcolumn2", [21, 23, 24, 21, 20], True) 

#Method3-Create new 
#df2 = df.assign(address = ['Delhi', 'Bangalore', 'Chennai', 'Patna', 'ddd']) 
#df2


#Drop column 
#df = df.drop(columns=['newcolumn1','newcolumn2'])


# df['sun_Z'] =  df['ssun']//1800 
# df['sun_D'] =  (df['ssun']%1800)//60 
# df['sun_M'] =  (df['ssun']%1800)%60

# df['moon_Z'] =  df['smoon']//1800 
# df['moon_D'] =  (df['smoon']%1800)//60 
# df['moon_M'] =  (df['smoon']%1800)%60

# df['rahu_Z'] =  df['srahu']//1800 
# df['rahu_D'] =  (df['srahu']%1800)//60 
# df['rahu_M'] =  (df['srahu']%1800)%60

# df['geth_Z'] =  df['sgeth']//1800 
# df['geth_D'] =  (df['sgeth']%1800)//60 
# df['geth_M'] =  (df['sgeth']%1800)%60

# df['mars_Z'] =  df['smars']//1800 
# df['mars_D'] =  (df['smars']%1800)//60 
# df['mars_M'] =  (df['smars']%1800)%60



# df[0:]




#sliding rows 
#df[2:3]

#sliding columns 
# df[['dt','ssun','smoon']]

#sliding rows and columns 
#df.loc[row,colmm]
# df.loc[:,:]
# df.loc[1,['dt']]
# df.loc[1:3,['dt','ssun','smoon']]
# df.loc[1:3,'dt':'ssun']

#Change index
# df.set_index("dt", inplace=True)
# df.loc[:,:]
# df.loc[dt1,:]
# df.loc[dt1:dt3,['ssun','smoon']]
# df.loc[dt1:dt3,'ssun':'ssun_m']

#boolean
# df.loc[df['smoon'] >= 7000,'ssun':'ssun_m']

df



#df.loc[0:3,'dt']>dt1
#df.loc[0:3,'dt']>dt1
#data.set_index("last_name", inplace=True)

uv = 14819
pholGA = 4019
khan = 4
SVenus = 22652 adjust to 1052
uv = 17719
pholGA = 3881
khan = 4
uv = 7926
pholGA = 2874
khan = 3

,dt,ssun,smoon,srahu,sgeth,smars,smercury,svenus,jupiter,ssaturn,suranus
0,1984-01-27 09:49:00,16953,12913,2933,12108,11722,15638,14765,14973,11999,13324
1,2007-03-30 08:55:00,20702,7569,19222,2089,18000,19459,1052,14290,6638,19352
2,2010-01-27 22:52:00,17003,4207,15932,12377,6532,15557,17071,18534,9464,19983

In [38]:
#df[['dt','ssun','sun_Z','sun_D','sun_M','smoon','moon_Z','moon_D','moon_M']]

In [39]:
# s_ravi = {
#     'jya': [35,32,27,22,13,5],
#     'ravi': [0,35,67,94,116,129]
# }
# #df = pd.DataFrame(s_ravi)
# df = pd.DataFrame(s_ravi)
# #df.iloc[1] = [kj,Ssun]
# #df.append(data)
# df = df.append({'kj' : 'Sahil' , 'sun' : 22} , ignore_index=True)
# df = df.append({'kj' : 'Sahil' , 'sun' : 22} , ignore_index=True)

# df = df.append({'kj' : 'Sahil' , 'sun' : 22 , 'datetime' : dt} , ignore_index=True)
# df = df.append({'kj' : 'Sahil' , 'sun' : 22 , 'datetime' : dtny} , ignore_index=True)


#Create dataframe
df = pd.DataFrame()

# Creating an empty Dataframe with column names only
df = pd.DataFrame(columns=['User_ID', 'UserName', 'Action'])

# Create an empty Dataframe with columns or indices
#df = pd.DataFrame(columns=['User_ID', 'UserName', 'Action'], index=['a', 'b', 'c'])

print(df.head(5))
print(df.tail())

print(df.dtypes)
print(df.index)
print(df.columns)
print(df.values)

#for index,row in df.iterrows():
#    print (index, row['ssun'], row['smoon'])

Empty DataFrame
Columns: [User_ID, UserName, Action]
Index: []
Empty DataFrame
Columns: [User_ID, UserName, Action]
Index: []
User_ID     object
UserName    object
Action      object
dtype: object
Index([], dtype='object')
Index(['User_ID', 'UserName', 'Action'], dtype='object')
[]

In [8]:
day,month,year,hour,minute = 27,1,2527,9,49
christ_year = year-543

dt= datetime(christ_year,month,day,hour,minute)

a = hora(dt)  
print('dt =', a.dt)
print('dtnt =', a.dtny)
print('ahra =', a.ahra)
print('jultin =', a.jultin)
print('kj =', a.kj)
print('aw =', a.aw)
print('masG =', a.masG)
print('dT =', a.dT)
print('au =', a.au)
print('van =', a.van)

print('stin =', a.stin)
print('sec =', a.sec)
print('ahra_ =', a.ahra_)
print('kj_ =', a.kj_)
print('aw_ =', a.aw_)
print('masG_ =', a.masG_)
print('dT_ =', a.dT_)
print('au_ =', a.au_)
print('van_ =', a.van_)

print('sun =', a.sun)
print('moon =', a.moon)
print('rahu =', a.rahu)
print('geth =', a.geth)
print('mars =', a.mars)
print('mercury =', a.mercury)
print('venus =', a.venus)
print('jupiter =', a.jupiter)
print('saturn =', a.saturn)
print('uranus =', a.uranus)

dt = 1984-01-27 09:31:00
dtnt = 1983-04-16 11:38:24
ahra = 491274
jultin = 388
kj = 412
aw = 144
masG = 16636
dT = 4
au = 2621
van = 0
stin = 286
sec = 34260
ahra_ = 491560
kj_ = 228729
aw_ = 97
masG_ = 16645
dT_ = 24
au_ = 2907
van_ = 6
sun = 16953
moon = 12913
rahu = 2933
geth = 12108
mars = 11722
mercury = 15638
venus = 14765
jupiter = 14973
saturn = 11999
uranus = 13324

#