In [25]:
import math
from datetime import date
from datetime import datetime
from datetime import timedelta
import pandas as pd

In [26]:
def NYdate(jula_year):
    ny = jula_year*0.25875-int(jula_year/4 +0.5)+int(jula_year/100 +0.38)-int(jula_year/400 +0.595)-5.53375
    jultin =  ((jula_year*292207)+373)%800
    hour,frac = divmod(jultin*24,800)
    minute,frac = divmod(frac*60,800)
    second,frac = divmod(frac*60,800)
    christ_year = jula_year+638
    dtny = datetime(christ_year, 4, int(ny), hour , minute, second)
    return dtny;

In [30]:
class hora:
    def __init__(self,dt):
        offset = timedelta(minutes=18)
        dt= dt-offset
        jula_year = dt.year-638    
        d = date(dt.year,dt.month,dt.day)
        dtf= datetime(dt.year,dt.month,dt.day,0,0)        
        dtny = NYdate(jula_year)
        dny = date(dtny.year,dtny.month,dtny.day)
        
        if (dt>=dtny):
            jula_newyear = jula_year
        elif (dt<dtny):
            jula_newyear = jula_year-1
            dtny = NYdate(jula_newyear)
            dny = date(dtny.year,dtny.month,dtny.day)

            
        temp = (jula_newyear*292207)+373
        ahra = (temp//800)+1
        jultin =  temp%800

        kj = 800-jultin
        temp,aw= divmod((ahra*11)+650,692)
        masG,dT=divmod((ahra+temp),30)

        au = (ahra-621)%3232
        van = ahra%7

        stin = (d-dny).days
        sec = (dt-dtf).seconds

        ahra_ = ahra+stin
        stkm = (stin-1)*800
        kj_ = kj + stkm + sec//108

        awjt = (stin-1)*703+aw
        aws = awjt+(sec*703)//86400
        awdT,aw_=divmod(aws,692)
        temp,dT_=divmod((awdT+dT),30)
        masG_ = masG+temp
        van_=ahra_%7

        if (au+stin > 3232):
            au_ = au+stin-3232
        else: au_= au+stin        
        
        
##########################SUN###############################
        sun_table = [[35,32,27,22,13,5,0],
                     [0,35,67,94,116,129,134]]

        z = kj_ // 24350
        z_remainder = kj_ % 24350
        degree = z_remainder//811
        d_remainder = z_remainder % 811
        minute = d_remainder//14

        d_total = z*30+degree
        mathasun = d_total*60+minute-3
        
        
        if mathasun < 0:
            mathasun = mathasun+21600     
        if mathasun >= 21600:
            raise Exception('mathasun exceed or equal 21600')      
            
        if mathasun < 4800:
            pholsun = 21600+mathasun-4800
        else:
            pholsun = mathasun-4800


        if pholsun >= 21600:
            raise Exception('pholsun exceed or equal 21600')
        elif pholsun < 0:
            raise Exception('pholsun below 0')
        elif pholsun >= 0 and pholsun <5400:
            pholGA = pholsun

        elif pholsun >= 5400 and pholsun <10800:
            pholGA = 10800-pholsun

        elif pholsun >= 10800 and pholsun <16200:
            pholGA = pholsun-10800

        elif pholsun >= 16200:
            pholGA = 21600-pholsun


        khan = pholGA // 900
        pushlip = pholGA % 900


        jyaGA = (sun_table[0][khan]*pushlip) // 900
        ravipphol = sun_table[1][khan]+jyaGA


        if pholsun < 10800:
            Ssun = mathasun-ravipphol
        elif pholsun > 10800:
            Ssun= mathasun+ravipphol
        elif pholsun == 10800:
            if(ravipphol != 0):raise Exception('pholsun=10800 but ravipphol not 0')
            Ssun= mathasun

        if Ssun < 0:
            Ssun = Ssun+21600
        elif Ssun >= 21600:
            Ssun= Ssun-21600

        #parameter for sun calculation
        self.mathasun = mathasun
        self.pholsun = pholsun
        self.SPholGA = pholGA
        self.SKhan = khan
        self.SPushlip = pushlip
        self.SJyaGA = jyaGA
        self.ravipphol = ravipphol               

        #zodiac,frac = divmod(Ssun,1800)
        #degree,minute = divmod(frac,60)    

#         print('pholGA =',pholGA)
#         print('khan =',khan)
#         print('kj_ =',kj_)
#         print('mathasun =',mathasun)
#         print('Ssun =',Ssun)

##########################MOON###############################

        moon_table = [[77,71,61,47,30,10,0],
                     [0,77,148,209,256,286,296]]

        temp = (au_-1)*86400+sec

        #zodiac,frac = divmod(x,23270400)
        #degree,frac = divmod(frac,775680)
        #minute = frac // 12928

        zodiac = temp//23270400
        degree = (temp%23270400)//775680
        minute = ((temp%23270400)%775680)//12928
        d_total = zodiac*30+degree
        mtu = d_total*60+minute+2


        mathamoon = mathasun + aw_ +(aw_//25)+(dT_*720)-40
        if mathamoon >= 21600: 
            mathamoon = mathamoon-21600
        if mtu >= 21600: 
            mtu = mtu-21600

#        if mathamoon >= 21600:
#            raise Exception('mathamoon exceed or equal 21600')
#        if mtu >= 21600:
#            raise Exception('mtu exceed or equal 21600')
       
    
#         if mathamoon < 0:
#             #raise Exception('mathamoon below 0')
        if mtu < 0:
            raise Exception('mtu below 0')
        elif mathamoon>=mtu:
            uv =  mathamoon-mtu
        elif mathamoon<mtu:
            uv = 21600+mathamoon-mtu


        if uv >= 21600:
            raise Exception('uv exceed or equal 21600')
        elif uv < 0:
            raise Exception('uv below 0')
        elif uv >= 0 and uv <5400:
            pholGA = uv
        elif uv >= 5400 and uv <10800:
            pholGA = 10800-uv
        elif uv >= 10800 and uv <16200:
            pholGA = uv-10800
        elif uv >= 16200:
            pholGA = 21600-uv


        khan = pholGA // 900
        pushlip = pholGA % 900

        jyaGA = (moon_table[0][khan]*pushlip) // 900
        chandraphol = moon_table[1][khan]+jyaGA

        if uv < 10800:
            Smoon = mathamoon-chandraphol
        elif uv > 10800:
            Smoon= mathamoon+chandraphol
        elif uv == 10800:
            if(chandraphol != 0):raise Exception('uv=10800 but chandraphol not 0')
            Smoon= mathamoon

        if Smoon < 0:
            Smoon = Smoon+21600
        elif Smoon > 21600:
            Smoon= Smoon-21600

        #moon parameters 
        self.mtu = mtu
        self.mathamoon = mathamoon
        self.uv = uv
        self.MPholGA = pholGA
        self.MKhan = khan
        self.MPushlip = pushlip
        self.MJyaGA = jyaGA
        self.chandraphol = chandraphol
    
    
##########################RAHU###############################
        matharavi = mathasun-23
#         if matharavi <0:
#             matharavi=matharavi+21600
        if (stin==0 or stin==1) and (matharavi>=21500):
            matharavi=matharavi-21600
    
        if (stin==0) and (0<matharavi<21574):
            raise Exception("ny stin=0 but matharavi = ",matharavi," < 21574")   
            
            
        srb = jula_newyear-610
        manut = (srb*21600)+ matharavi

        a = manut//20
        b = manut//265
        pmt = (a+b)%21600

        Srahu = 15150-pmt
        if Srahu<0:
            Srahu = Srahu+21600
            
        #rahu parameters
        self.matharavi = matharavi
        self.srb = srb
        self.manut = manut
        self.a = a
        self.b = b
        self.pmt = pmt  

##########################GETH###############################
        pholgt = (ahra_-345)%679
        mathageth = (pholgt*21600 + (sec*21600)//86400)//679
        Sgeth = 21600-mathageth
#         zodiac,frac = divmod(Sgeth,1800)
#         degree,minute = divmod(frac,60)

        #geth parameters
        self.pholgt = pholgt
        self.mathageth = mathageth           


                
##########################Inner Plannets##################################
        plannet = ['mercury','venus']
        for plannet in plannet: 
            if plannet  == 'mercury':
                matha = ((manut*7)//46 + (manut*4)//1 + 10642)%21600
                pholPK = matharavi-13200
            elif plannet == 'venus':
                matha = ((manut*5)//3 - (manut*10)//243 + 10944)%21600
                pholPK = matharavi-4800
                
            if pholPK<0:
                pholPK = pholPK+21600

            ptma = (pholPK//5400)+1
            if ptma == 1:
                puchaPT = pholPK
                khotiPT = 5400-pholPK
            elif ptma == 2:
                puchaPT = 10800-pholPK
                khotiPT = pholPK-5400
            elif ptma == 3:
                puchaPT = pholPK-10800
                khotiPT = 16200-pholPK
            elif ptma == 4:
                puchaPT = 21600-pholPK
                khotiPT = pholPK-16200

            # puchaPT = 1064
            # khotiPT = 4336

            if puchaPT < 0:
                raise Exception('puchaPT is below 0')
            elif puchaPT > 5400:
                raise Exception('puchaPT is greater than 5400')
            elif puchaPT < 1800:
                MTpucha = (puchaPT*14640)//1800
            elif (puchaPT >= 1800) and (puchaPT < 3600) :
                MTpucha = (((puchaPT-1800)*10980)//1800)+14640
            elif puchaPT >= 3600 :
                MTpucha = (((puchaPT-3600)*3660)//1800)+25620

            if khotiPT < 0:
                raise Exception('khotiPT is below 0')
            elif khotiPT > 5400:
                raise Exception('khotiPT is greater than 5400')
            elif khotiPT < 1800:
                MTKhoti = (khotiPT*14640)//1800
            elif (khotiPT >= 1800) and (khotiPT < 3600) :
                MTKhoti = (((khotiPT-1800)*10980)//1800)+14640
            elif khotiPT >= 3600 :
                MTKhoti = (((khotiPT-3600)*3660)//1800)+25620

            MTKhoti = (MTKhoti+30)//60
            khotiphol = MTKhoti//2


            if plannet == 'mercury':
                if (ptma ==1) or (ptma ==4):
                    MTcheta = 100*60 + khotiphol
                elif (ptma ==2) or (ptma ==3):
                    MTcheta=  100*60 - khotiphol
            elif plannet == 'venus':
                if (ptma ==1) or (ptma ==4):
                    MTcheta = 320*60 + khotiphol
                elif (ptma ==2) or (ptma ==3):
                    MTcheta=  320*60 - khotiphol          
            
            

            MTphol = (MTpucha*60)//MTcheta


            if (ptma ==1) or (ptma ==2):
                if (matharavi  - MTphol)>=0:
                    MTS = matharavi  - MTphol
                elif (matharavi  - MTphol)<0:
                    MTS =  matharavi  - MTphol + 21600
                    print('MTS =',matharavi  - MTphol,'adjust to',MTS)          

            elif (ptma ==3) or (ptma ==4):
                if (matharavi  + MTphol)>=21600:
                    MTS = matharavi  + MTphol - 21600
                    print('MTS =',matharavi  + MTphol,'adjust to',MTS)
                elif(matharavi  + MTphol)<21600:
                    MTS = matharavi  + MTphol


            pholMT = MTS-matha
            if pholMT<0:
                pholMT=pholMT+21600

            ptnd = (pholMT//5400)+1
            if ptnd == 1:
                puchaTY = pholMT
                khotiTY = 5400-pholMT
            elif ptnd == 2:
                puchaTY = 10800-pholMT
                khotiTY = pholMT-5400
            elif ptnd == 3:
                puchaTY = pholMT-10800
                khotiTY = 16200-pholMT
            elif ptnd == 4:
                puchaTY = 21600-pholMT
                khotiTY = pholMT-16200

            if puchaTY < 0:
                raise Exception('puchaTY is below 0')
            elif puchaTY > 5400:
                raise Exception('puchaTY is greater than 5400')
            elif puchaTY < 1800:
                SGPucha = (puchaTY*14640)//1800
            elif (puchaTY >= 1800) and (puchaTY < 3600) :
                SGPucha = (((puchaTY-1800)*10980)//1800)+14640
            elif puchaTY >= 3600 :
                SGPucha = (((puchaTY-3600)*3660)//1800)+25620

            if khotiTY < 0:
                raise Exception('khotiTY is below 0')
            elif khotiTY > 5400:
                raise Exception('khotiTY is greater than 5400')
            elif khotiTY < 1800:
                SGKhoti = (khotiTY*14640)//1800
            elif (khotiTY >= 1800) and (khotiTY < 3600) :
                SGKhoti = (((khotiTY-1800)*10980)//1800)+14640
            elif khotiTY >= 3600 :
                SGKhoti = (((khotiTY-3600)*3660)//1800)+25620

            SGKhoti = (SGKhoti+30)//60
            SGphol = ((SGPucha+30)//60)//3


            if plannet == 'mercury': p= 21*60
            elif plannet == 'venus': p= 11*60            
            
            
            sp = p+SGphol

            if (ptnd ==1) or (ptnd ==4):
                SGcheta = sp + SGKhoti
            elif (ptnd ==2) or (ptnd ==3):
                SGcheta = sp - SGKhoti

            if SGcheta < 0:
                raise Exception('SGcheta < 0')
            elif khotiTY > 21600:
                raise Exception('SGcheta > SGcheta')

            mahaphol = (SGPucha*60)//SGcheta
            
            
            
            if plannet == 'mercury': 
                if (ptnd ==1) or (ptnd ==2):
                    if (MTS - mahaphol)>=0:
                        SMercury = MTS - mahaphol
                    elif (MTS - mahaphol)<0:
                        SMercury =  MTS - mahaphol + 21600
                        print('Smercury =',MTS - mahaphol,'adjust to',SMercury)          

                elif (ptnd ==3) or (ptnd ==4):
                    if (MTS + mahaphol)>=21600:
                        SMercury = MTS + mahaphol - 21600
                        print('SMercury =',MTS + mahaphol,'adjust to',SMercury)
                    elif(MTS + mahaphol)<21600:
                        SMercury = MTS + mahaphol               
                self.matha_mecury = matha
                self.pholPK_mecury  = pholPK
                self.ptma_mecury = ptma
                self.puchaPT_mecury = puchaPT
                self.khotiPT_mecury = khotiPT
                self.MTpucha_mecury = MTpucha
                self.MTKhoti_mecury = MTKhoti
                self.khotiphol_mecury = khotiphol
                self.MTcheta_mecury = MTcheta
                self.MTphol_mecury = MTphol
                self.MTS_mecury = MTS
                self.pholMT_mecury = pholMT
                self.ptnd_mecury = ptnd
                self.puchaTY_mecury = puchaTY
                self.khotiTY_mecury = khotiTY
                self.SGPucha_mecury = SGPucha
                self.SGKhoti_mecury = SGKhoti
                self.SGphol_mecury = SGphol
                self.p_mecury = p
                self.sp_mecury = sp
                self.SGcheta_mecury = SGcheta
                self.mahaphol_mecury = mahaphol
                        
                        
            elif plannet == 'venus': 
                if (ptnd ==1) or (ptnd ==2):
                    if (MTS - mahaphol)>=0:
                        SVenus = MTS - mahaphol
                    elif (MTS - mahaphol)<0:
                        SVenus =  MTS - mahaphol + 21600
                        print('SVenus =',MTS - mahaphol,'adjust to',SVenus)          

                elif (ptnd ==3) or (ptnd ==4):
                    if (MTS + mahaphol)>=21600:
                        SVenus = MTS + mahaphol - 21600
                        print('SVenus =',MTS + mahaphol,'adjust to',SVenus)
                    elif(MTS + mahaphol)<21600:
                        SVenus = MTS + mahaphol      
                self.matha_venus = matha
                self.pholPK_venus  = pholPK
                self.ptma_venus = ptma
                self.puchaPT_venus = puchaPT
                self.khotiPT_venus = khotiPT
                self.MTpucha_venus = MTpucha
                self.MTKhoti_venus = MTKhoti
                self.khotiphol_venus = khotiphol
                self.MTcheta_venus = MTcheta
                self.MTphol_venus = MTphol
                self.MTS_venus = MTS
                self.pholMT_venus = pholMT
                self.ptnd_venus = ptnd
                self.puchaTY_venus = puchaTY
                self.khotiTY_venus = khotiTY
                self.SGPucha_venus = SGPucha
                self.SGKhoti_venus = SGKhoti
                self.SGphol_venus = SGphol
                self.p_venus = p
                self.sp_venus = sp
                self.SGcheta_venus = SGcheta
                self.mahaphol_venus = mahaphol






                
##########################Other Plannets####################################

        plannet = ['mars','jupiter','saturn','uranus']
        for plannet in plannet: 
 
            if plannet  == 'mars':
                matha  =  ((manut*1)//2 + (manut*16)//505 + 5420)%21600         
                pholPK = matha-7620
            elif plannet == 'jupiter':
                matha  = ((manut*1)//12 + (manut*1)//1032 + 14297)%21600
                pholPK = matha-10320
            elif plannet == 'saturn':
                matha  = ((manut*1)//30 + (manut*6)//10000 + 11944)%21600
                pholPK = matha-14820
            elif plannet == 'uranus':
                matha  = ((manut*1)//84 + (manut*1)//7224 + 16277)%21600
                pholPK = matha-7440        

            if pholPK<0:
                pholPK = pholPK+21600


            ptma = (pholPK//5400)+1
            if ptma == 1:
                puchaPT = pholPK
                khotiPT = 5400-pholPK
            elif ptma == 2:
                puchaPT = 10800-pholPK
                khotiPT = pholPK-5400
            elif ptma == 3:
                puchaPT = pholPK-10800
                khotiPT = 16200-pholPK
            elif ptma == 4:
                puchaPT = 21600-pholPK
                khotiPT = pholPK-16200

            # puchaPT = 1064
            # khotiPT = 4336

            if puchaPT < 0:
                raise Exception('puchaPT is below 0')
            elif puchaPT > 5400:
                raise Exception('puchaPT is greater than 5400')
            elif puchaPT < 1800:
                MTpucha = (puchaPT*14640)//1800
            elif (puchaPT >= 1800) and (puchaPT < 3600) :
                MTpucha = (((puchaPT-1800)*10980)//1800)+14640
            elif puchaPT >= 3600 :
                MTpucha = (((puchaPT-3600)*3660)//1800)+25620

            if khotiPT < 0:
                raise Exception('khotiPT is below 0')
            elif khotiPT > 5400:
                raise Exception('khotiPT is greater than 5400')
            elif khotiPT < 1800:
                MTKhoti = (khotiPT*14640)//1800
            elif (khotiPT >= 1800) and (khotiPT < 3600) :
                MTKhoti = (((khotiPT-1800)*10980)//1800)+14640
            elif khotiPT >= 3600 :
                MTKhoti = (((khotiPT-3600)*3660)//1800)+25620

            MTKhoti = (MTKhoti+30)//60
            khotiphol = MTKhoti//2


            if plannet == 'mars':
                if (ptma ==1) or (ptma ==4):
                    MTcheta = 45*60 + khotiphol
                elif (ptma ==2) or (ptma ==3):
                    MTcheta=  45*60 - khotiphol
            elif plannet == 'jupiter':
                if (ptma ==1) or (ptma ==4):
                    MTcheta = 92*60 + khotiphol
                elif (ptma ==2) or (ptma ==3):
                    MTcheta=  92*60 - khotiphol
            elif plannet == 'saturn':
                if (ptma ==1) or (ptma ==4):
                    MTcheta = 63*60 + khotiphol
                elif (ptma ==2) or (ptma ==3):
                    MTcheta=  63*60 - khotiphol
            elif plannet == 'uranus':
                if (ptma ==1) or (ptma ==4):
                    MTcheta = 644*60 + khotiphol
                elif (ptma ==2) or (ptma ==3):
                    MTcheta=  644*60 - khotiphol  



            MTphol = (MTpucha*60)//MTcheta


            if (ptma ==1) or (ptma ==2):
                if (matha - MTphol)>=0:
                    MTS = matha - MTphol
                elif (matha - MTphol)<0:
                    MTS =  matha - MTphol + 21600
                    print('MTS =',matha - MTphol,'adjust to',MTS)          

            elif (ptma ==3) or (ptma ==4):
                if (matha + MTphol)>=21600:
                    MTS = matha + MTphol - 21600
                    print('MTS =',matha + MTphol,'adjust to',MTS)
                elif(matha + MTphol)<21600:
                    MTS = matha + MTphol


            pholMT = MTS-matharavi
            if pholMT<0:
                pholMT=pholMT+21600
            elif pholMT>=21600:
                pholMT = pholMT - 21600
                print('pholMT =',pholMT + 21600,'adjust to',pholMT)
                
            ptnd = (pholMT//5400)+1
            if ptnd == 1:
                puchaTY = pholMT
                khotiTY = 5400-pholMT
            elif ptnd == 2:
                puchaTY = 10800-pholMT
                khotiTY = pholMT-5400
            elif ptnd == 3:
                puchaTY = pholMT-10800
                khotiTY = 16200-pholMT
            elif ptnd == 4:
                puchaTY = 21600-pholMT
                khotiTY = pholMT-16200

            if puchaTY < 0:
                raise Exception('puchaTY is below 0')
            elif puchaTY > 5400:
                raise Exception('puchaTY is greater than 5400')
            elif puchaTY < 1800:
                SGPucha = (puchaTY*14640)//1800
            elif (puchaTY >= 1800) and (puchaTY < 3600) :
                SGPucha = (((puchaTY-1800)*10980)//1800)+14640
            elif puchaTY >= 3600 :
                SGPucha = (((puchaTY-3600)*3660)//1800)+25620

            if khotiTY < 0:
                raise Exception('khotiTY is below 0')
            elif khotiTY > 5400:
                raise Exception('khotiTY is greater than 5400')
            elif khotiTY < 1800:
                SGKhoti = (khotiTY*14640)//1800
            elif (khotiTY >= 1800) and (khotiTY < 3600) :
                SGKhoti = (((khotiTY-1800)*10980)//1800)+14640
            elif khotiTY >= 3600 :
                SGKhoti = (((khotiTY-3600)*3660)//1800)+25620

            SGKhoti = (SGKhoti+30)//60
            SGphol = ((SGPucha+30)//60)//3

            
            if plannet == 'mars': p= (4*MTcheta)//15 
            elif plannet == 'jupiter': p= (3*MTcheta)//7
            elif plannet == 'saturn': 
                p= (7*MTcheta)//6 
                #print('ptnd = ',ptnd)
            elif plannet == 'uranus':p= (3*MTcheta)//7 
    

            sp = p+SGphol
            if (ptnd ==1) or (ptnd ==4):
                SGcheta = sp + SGKhoti
            elif (ptnd ==2) or (ptnd ==3):
                SGcheta = sp - SGKhoti

            if SGcheta < 0:
                raise Exception('SGcheta < 0')
            elif khotiTY > 21600:
                raise Exception('SGcheta > SGcheta')

            mahaphol = (SGPucha*60)//SGcheta

            

            if plannet == 'mars':
                if (ptnd ==1) or (ptnd ==2):
                    if (MTS - mahaphol)>=0:
                        Smars = MTS - mahaphol
                    elif (MTS - mahaphol)<0:
                        Smars =  MTS - mahaphol + 21600
                        print('Smars =',MTS - mahaphol,'adjust to',Smars)          
                elif (ptnd ==3) or (ptnd ==4):
                    if (MTS + mahaphol)>=21600:
                        Smars = MTS + mahaphol - 21600
                        print('Smars =',MTS + mahaphol,'adjust to',Smars)
                    elif(MTS + mahaphol)<21600:
                        Smars = MTS + mahaphol 
                self.matha_mars = matha
                self.pholPK_mars  = pholPK
                self.ptma_mars = ptma
                self.puchaPT_mars = puchaPT
                self.khotiPT_mars = khotiPT
                self.MTpucha_mars = MTpucha
                self.MTKhoti_mars = MTKhoti
                self.khotiphol_mars = khotiphol
                self.MTcheta_mars = MTcheta
                self.MTphol_mars = MTphol
                self.MTS_mars = MTS
                self.pholMT_mars = pholMT
                self.ptnd_mars = ptnd
                self.puchaTY_mars = puchaTY
                self.khotiTY_mars = khotiTY
                self.SGPucha_mars = SGPucha
                self.SGKhoti_mars = SGKhoti
                self.SGphol_mars = SGphol
                self.p_mars = p
                self.sp_mars = sp
                self.SGcheta_mars = SGcheta
                self.mahaphol_mars = mahaphol
                        
            elif plannet == 'jupiter':
                if (ptnd ==1) or (ptnd ==2):
                    if (MTS - mahaphol)>=0:
                        Jupiter = MTS - mahaphol
                    elif (MTS - mahaphol)<0:
                        Jupiter =  MTS - mahaphol + 21600
                        print('Jupiter =',MTS - mahaphol,'adjust to',Jupiter)          

                elif (ptnd ==3) or (ptnd ==4):
                    if (MTS + mahaphol)>=21600:
                        Jupiter = MTS + mahaphol - 21600
                        print('Jupiter =',MTS + mahaphol,'adjust to',Jupiter)
                    elif(MTS + mahaphol)<21600:
                        Jupiter = MTS + mahaphol 
                self.matha_jupiter = matha
                self.pholPK_jupiter  = pholPK
                self.ptma_jupiter = ptma
                self.puchaPT_jupiter = puchaPT
                self.khotiPT_jupiter = khotiPT
                self.MTpucha_jupiter = MTpucha
                self.MTKhoti_jupiter = MTKhoti
                self.khotiphol_jupiter = khotiphol
                self.MTcheta_jupiter = MTcheta
                self.MTphol_jupiter = MTphol
                self.MTS_jupiter = MTS
                self.pholMT_jupiter = pholMT
                self.ptnd_jupiter = ptnd
                self.puchaTY_jupiter = puchaTY
                self.khotiTY_jupiter = khotiTY
                self.SGPucha_jupiter = SGPucha
                self.SGKhoti_jupiter = SGKhoti
                self.SGphol_jupiter = SGphol
                self.p_jupiter = p
                self.sp_jupiter = sp
                self.SGcheta_jupiter = SGcheta
                self.mahaphol_jupiter = mahaphol                        
                        
            elif plannet == 'saturn':
#                 print('ptnd= ',ptnd)
#                 print('pholMT =',pholMT)
                if (ptnd ==1) or (ptnd ==2):
                    if (MTS - mahaphol)>=0:
                        SSaturn = MTS - mahaphol
                    elif (MTS - mahaphol)<0:
                        SSaturn =  MTS - mahaphol + 21600
                        print('SSaturn =',MTS - mahaphol,'adjust to',SSaturn)          

                elif (ptnd ==3) or (ptnd ==4):
                    if (MTS + mahaphol)>=21600:
                        SSaturn = MTS + mahaphol - 21600
                        print('SSaturn =',MTS + mahaphol,'adjust to',SSaturn)
                    elif(MTS + mahaphol)<21600:
                        SSaturn = MTS + mahaphol
                        
                self.matha_saturn = matha
                self.pholPK_saturn  = pholPK
                self.ptma_saturn = ptma
                self.puchaPT_saturn = puchaPT
                self.khotiPT_saturn = khotiPT
                self.MTpucha_saturn = MTpucha
                self.MTKhoti_saturn = MTKhoti
                self.khotiphol_saturn = khotiphol
                self.MTcheta_saturn = MTcheta
                self.MTphol_saturn = MTphol
                self.MTS_saturn = MTS
                self.pholMT_saturn = pholMT
                self.ptnd_saturn = ptnd
                self.puchaTY_saturn = puchaTY
                self.khotiTY_saturn = khotiTY
                self.SGPucha_saturn = SGPucha
                self.SGKhoti_saturn = SGKhoti
                self.SGphol_saturn = SGphol
                self.p_saturn = p
                self.sp_saturn = sp
                self.SGcheta_saturn = SGcheta
                self.mahaphol_saturn = mahaphol  
                
            elif plannet == 'uranus':
                if (ptnd ==1) or (ptnd ==2):
                    if (MTS - mahaphol)>=0:
                        SUranus = MTS - mahaphol
                    elif (MTS - mahaphol)<0:
                        SUranus =  MTS - mahaphol + 21600
                        print('SUranus =',MTS - mahaphol,'adjust to',SUranus)          

                elif (ptnd ==3) or (ptnd ==4):
                    if (MTS + mahaphol)>=21600:
                        SUranus = MTS + mahaphol - 21600
                        print('SUranus =',MTS + mahaphol,'adjust to',SUranus)
                    elif(MTS + mahaphol)<21600:
                        SUranus = MTS + mahaphol 
                self.matha_uranus = matha
                self.pholPK_uranus  = pholPK
                self.ptma_uranus = ptma
                self.puchaPT_uranus = puchaPT
                self.khotiPT_uranus = khotiPT
                self.MTpucha_uranus = MTpucha
                self.MTKhoti_uranus = MTKhoti
                self.khotiphol_uranus = khotiphol
                self.MTcheta_uranus = MTcheta
                self.MTphol_uranus = MTphol
                self.MTS_uranus = MTS
                self.pholMT_uranus = pholMT
                self.ptnd_uranus = ptnd
                self.puchaTY_uranus = puchaTY
                self.khotiTY_uranus = khotiTY
                self.SGPucha_uranus = SGPucha
                self.SGKhoti_uranus = SGKhoti
                self.SGphol_uranus = SGphol
                self.p_uranus = p
                self.sp_uranus = sp
                self.SGcheta_uranus = SGcheta
                self.mahaphol_uranus = mahaphol    



        

#         print('uv =',uv)
#         print('pholGA =',pholGA)
#         print('khan =',khan)
#         print('Smoon =',Smoon)

#         print('au_ =',au_)
#         print('mtu =',mtu)
#         print('uv =',uv)
#         print('Smoon =',Smoon)

        #TS Parameter (yearly parameter) 
        self.dt = dt  
        self.dtny = dtny 
        self.dny = dny 
        self.ahra = ahra 
        self.jultin = jultin 
        self.kj = kj 
        self.aw = aw 
        self.masG = masG 
        self.dT = dT
        self.au = au 
        self.van = van 
        
        #Given Datetime parameter
        self.stin = stin 
        self.sec = sec 
        self.ahra_ = ahra_ 
        self.kj_ = kj_ 
        self.aw_ = aw_ 
        self.masG_ = masG_ 
        self.dT_ = dT_
        self.au_ = au_ 
        self.van_ = van_
    
        
        ##locations in zodiac (minutes maximum = 21600)         
        self.sun = Ssun
        self.moon = Smoon
        self.rahu = Srahu
        self.geth = Sgeth
        self.mars = Smars
        self.mercury = SMercury
        self.venus = SVenus
        self.jupiter = Jupiter
        self.saturn = SSaturn
        self.uranus = SUranus

In [31]:
#startdate = datetime(1969,4,15,16,0)
startdate = datetime(1969,4,15,20,55)
#startdate = datetime(1919,1,1,0,0)
df = pd.DataFrame()
#count = 108000
#count = 75000
count = 10
#select timeframe
#interval = 'day'
interval = 'minutes'
start = datetime.now()

for i in range(0,count):
    
    if interval=='minutes':
        diff = timedelta(minutes=i)
    elif interval=='day':
        diff = timedelta(days=i)
        
    dt = startdate+diff
    h = hora(dt)    
    data = {
        #'dt': dt,
        #'dtny': h.dtny,        
        'dt': str(dt.day)+'/'+str(dt.month)+'/'+str(dt.year+543)+' '+str(dt.hour)+':'+str(dt.minute),
        'dtny': str(h.dtny.day)+'/'+str(h.dtny.month)+'/'+str(h.dtny.year+543)+' '+str(h.dtny.hour)+':'+str(h.dtny.minute)+':'+str(h.dtny.second),
        
        #TS parameter
        'ahra' : h.ahra, 'jultin': h.jultin, 'kj' : h.kj, 'aw' : h.aw, 'masG' : h.masG, 'dT' : h.dT, 
        'au' : h.au, 'van' : h.van,
        
        #GivenDT parameter
        'stin' : h.stin, 'sec': h.sec, 'ahra_' : h.ahra_, 'kj_' : h.kj_, 'aw_' : h.aw_, 
        'masG_' : h.masG_, 'dT_' : h.dT_, 'au_' : h.au_, 'van_' : h.van_,
        
        #parameter for sun and moon calculation  
        #Sun
        'mathasun' : h.mathasun, 'pholsun': h.pholsun, 'SPholGA' : h.SPholGA, 'SKhan': h.SKhan, 'SPushlip' : h.SPushlip,'SJyaGA' : h.SJyaGA, 'ravipphol': h.ravipphol,        
        #Moon
        'mtu' : h.mtu, 'mathamoon': h.mathamoon, 'uv' : h.uv, 'MPholGA' : h.MPholGA, 'MKhan': h.MKhan, 'MPushlip' : h.MPushlip,'MJyaGA' : h.MJyaGA, 'chandraphol': h.chandraphol,
        #rahu
       'matharavi' : h.matharavi, 'srb': h.srb, 'manut' : h.manut, 'a': h.a, 'b' : h.b, 'pmt' : h.pmt,
        #geht
        'pholgt' : h.pholgt,
          
        #Mercury
        'matha_mecury' : h.matha_mecury, 'pholPK_mecury': h.pholPK_mecury, 'ptma_mecury' : h.ptma_mecury, 
        'puchaPT_mecury' : h.puchaPT_mecury, 'khotiPT_mecury': h.khotiPT_mecury, 'MTpucha_mecury' : h.MTpucha_mecury, 
        'MTKhoti_mecury' : h.MTKhoti_mecury, 'khotiphol_mecury': h.khotiphol_mecury,
        'MTcheta_mecury' : h.MTcheta_mecury, 'MTphol_mecury': h.MTphol_mecury, 'MTS_mecury' : h.MTS_mecury,      
        'pholMT_mecury' : h.pholMT_mecury, 'ptnd_mecury': h.ptnd_mecury, 'puchaTY_mecury' : h.puchaTY_mecury, 
        'khotiTY_mecury' : h.khotiTY_mecury, 'SGPucha_mecury': h.SGPucha_mecury, 'SGKhoti_mecury': h.SGKhoti_mecury,
        'SGphol_mecury' : h.SGphol_mecury, 'p_mecury': h.p_mecury, 'sp_mecury': h.sp_mecury, 'SGcheta_mecury': h.SGcheta_mecury,
        'mahaphol_mecury' : h.mahaphol_mecury,
        
        #Venus
        'matha_venus' : h.matha_venus, 'pholPK_venus': h.pholPK_venus, 'ptma_venus' : h.ptma_venus, 
        'puchaPT_venus' : h.puchaPT_venus, 'khotiPT_venus': h.khotiPT_venus, 'MTpucha_venus' : h.MTpucha_venus, 
        'MTKhoti_venus' : h.MTKhoti_venus, 'khotiphol_venus': h.khotiphol_venus,
        'MTcheta_venus' : h.MTcheta_venus, 'MTphol_venus': h.MTphol_venus, 'MTS_venus' : h.MTS_venus,      
        'pholMT_venus' : h.pholMT_venus, 'ptnd_venus': h.ptnd_venus, 'puchaTY_venus' : h.puchaTY_venus, 
        'khotiTY_venus' : h.khotiTY_venus, 'SGPucha_venus': h.SGPucha_venus, 'SGKhoti_venus': h.SGKhoti_venus,
        'SGphol_venus' : h.SGphol_venus, 'p_venus': h.p_venus, 'sp_venus': h.sp_venus, 'SGcheta_venus': h.SGcheta_venus,
        'mahaphol_venus' : h.mahaphol_venus,  
        
        #mars
        'matha_mars' : h.matha_mars, 'pholPK_mars': h.pholPK_mars, 'ptma_mars' : h.ptma_mars, 
        'puchaPT_mars' : h.puchaPT_mars, 'khotiPT_mars': h.khotiPT_mars, 'MTpucha_mars' : h.MTpucha_mars, 
        'MTKhoti_mars' : h.MTKhoti_mars, 'khotiphol_mars': h.khotiphol_mars,
        'MTcheta_mars' : h.MTcheta_mars, 'MTphol_mars': h.MTphol_mars, 'MTS_mars' : h.MTS_mars,      
        'pholMT_mars' : h.pholMT_mars, 'ptnd_mars': h.ptnd_mars, 'puchaTY_mars' : h.puchaTY_mars, 
        'khotiTY_mars' : h.khotiTY_mars, 'SGPucha_mars': h.SGPucha_mars, 'SGKhoti_mars': h.SGKhoti_mars,
        'SGphol_mars' : h.SGphol_mars, 'p_mars': h.p_mars, 'sp_mars': h.sp_mars, 'SGcheta_mars': h.SGcheta_mars,
        'mahaphol_mars' : h.mahaphol_mars,          

        #jupiter
        'matha_jupiter' : h.matha_jupiter, 'pholPK_jupiter': h.pholPK_jupiter, 'ptma_jupiter' : h.ptma_jupiter, 
        'puchaPT_jupiter' : h.puchaPT_jupiter, 'khotiPT_jupiter': h.khotiPT_jupiter, 'MTpucha_jupiter' : h.MTpucha_jupiter, 
        'MTKhoti_jupiter' : h.MTKhoti_jupiter, 'khotiphol_jupiter': h.khotiphol_jupiter,
        'MTcheta_jupiter' : h.MTcheta_jupiter, 'MTphol_jupiter': h.MTphol_jupiter, 'MTS_jupiter' : h.MTS_jupiter,      
        'pholMT_jupiter' : h.pholMT_jupiter, 'ptnd_jupiter': h.ptnd_jupiter, 'puchaTY_jupiter' : h.puchaTY_jupiter, 
        'khotiTY_jupiter' : h.khotiTY_jupiter, 'SGPucha_jupiter': h.SGPucha_jupiter, 'SGKhoti_jupiter': h.SGKhoti_jupiter,
        'SGphol_jupiter' : h.SGphol_jupiter, 'p_jupiter': h.p_jupiter, 'sp_jupiter': h.sp_jupiter, 'SGcheta_jupiter': h.SGcheta_jupiter,
        'mahaphol_jupiter' : h.mahaphol_jupiter,  
        
        #saturn
        'matha_saturn' : h.matha_saturn, 'pholPK_saturn': h.pholPK_saturn, 'ptma_saturn' : h.ptma_saturn, 
        'puchaPT_saturn' : h.puchaPT_saturn, 'khotiPT_saturn': h.khotiPT_saturn, 'MTpucha_saturn' : h.MTpucha_saturn, 
        'MTKhoti_saturn' : h.MTKhoti_saturn, 'khotiphol_saturn': h.khotiphol_saturn,
        'MTcheta_saturn' : h.MTcheta_saturn, 'MTphol_saturn': h.MTphol_saturn, 'MTS_saturn' : h.MTS_saturn,      
        'pholMT_saturn' : h.pholMT_saturn, 'ptnd_saturn': h.ptnd_saturn, 'puchaTY_saturn' : h.puchaTY_saturn, 
        'khotiTY_saturn' : h.khotiTY_saturn, 'SGPucha_saturn': h.SGPucha_saturn, 'SGKhoti_saturn': h.SGKhoti_saturn,
        'SGphol_saturn' : h.SGphol_saturn, 'p_saturn': h.p_saturn, 'sp_saturn': h.sp_saturn, 'SGcheta_saturn': h.SGcheta_saturn,
        'mahaphol_saturn' : h.mahaphol_saturn, 
        
        #uranus
        'matha_uranus' : h.matha_uranus, 'pholPK_uranus': h.pholPK_uranus, 'ptma_uranus' : h.ptma_uranus, 
        'puchaPT_uranus' : h.puchaPT_uranus, 'khotiPT_uranus': h.khotiPT_uranus, 'MTpucha_uranus' : h.MTpucha_uranus, 
        'MTKhoti_uranus' : h.MTKhoti_uranus, 'khotiphol_uranus': h.khotiphol_uranus,
        'MTcheta_uranus' : h.MTcheta_uranus, 'MTphol_uranus': h.MTphol_uranus, 'MTS_uranus' : h.MTS_uranus,      
        'pholMT_uranus' : h.pholMT_uranus, 'ptnd_uranus': h.ptnd_uranus, 'puchaTY_uranus' : h.puchaTY_uranus, 
        'khotiTY_uranus' : h.khotiTY_uranus, 'SGPucha_uranus': h.SGPucha_uranus, 'SGKhoti_uranus': h.SGKhoti_uranus,
        'SGphol_uranus' : h.SGphol_uranus, 'p_uranus': h.p_uranus, 'sp_uranus': h.sp_uranus, 'SGcheta_uranus': h.SGcheta_uranus,
        'mahaphol_uranus' : h.mahaphol_uranus, 
        
        #Constellation 
        'sun' : h.sun, 'moon': h.moon, 'rahu' : h.rahu, 'geth' : h.geth, 'mars' : h.mars, 'mercury' : h.mercury, 'venus' : h.venus, 'jupiter' : h.jupiter, 'saturn' : h.saturn, 'uranus' : h.uranus
              
    }


    print(dt.day,dt.month,dt.year,dt.hour,':',dt.minute)
    #df = pd.DataFrame(data)
    df = df.append(data , ignore_index=True)

finish = datetime.now()
duration = finish-start

ListofPlannets = ['sun','moon','rahu','geth','mars','mercury','venus','jupiter','saturn','uranus'] 
for planet in ListofPlannets:
    zodiac = planet+"_Z"
    degree = planet+"_D"
    minute = planet+"_M"
    diff = planet+"_diff"
    df[zodiac] =  df[planet]//1800 
    df[degree] =  (df[planet]%1800)//60 
    df[minute] =  (df[planet]%1800)%60    
    df[diff] = df[planet]-df[planet].shift(1)

print(duration)
#df['sun_delta'] = df['sun'] 


#df.to_csv(r"C:\Users\JACK\Desktop\S_out.csv")

#df.dtypes

# data = {
#     'dt': [startdate],
#     'sun' : [h.sun],
#     'moon': [h.moon],
#     'rahu' : [h.rahu],
#     'geth' : [h.geth],
#     'mars' : [h.mars],
#     'mercury' : [h.mercury],
#     'venus' : [h.venus],
#     'jupiter' : [h.jupiter],
#     'saturn' : [h.saturn],
#     'uranus' : [h.uranus]
# }
#startdate = datetime(2019,4,16,0,0) mathasun-

SMercury = 22482 adjust to 882
MTS = 21661 adjust to 61
MTS = -13 adjust to 21587
15 4 1969 20 : 55
SMercury = 22482 adjust to 882
MTS = 21661 adjust to 61
MTS = -13 adjust to 21587
15 4 1969 20 : 56
SMercury = 22482 adjust to 882
MTS = 21661 adjust to 61
MTS = -13 adjust to 21587
15 4 1969 20 : 57
SMercury = 22482 adjust to 882
MTS = 21661 adjust to 61
MTS = -13 adjust to 21587
15 4 1969 20 : 58
SMercury = 22482 adjust to 882
MTS = 21661 adjust to 61
MTS = -13 adjust to 21587
15 4 1969 20 : 59
MTS = -216 adjust to 21384
SMercury = 22482 adjust to 882
MTS = -13 adjust to 21587
pholMT = 21613 adjust to 13
15 4 1969 21 : 0
MTS = -216 adjust to 21384
SMercury = 22482 adjust to 882
MTS = -13 adjust to 21587
pholMT = 21613 adjust to 13
15 4 1969 21 : 1
MTS = -216 adjust to 21384
SMercury = 22482 adjust to 882
MTS = -13 adjust to 21587
pholMT = 21613 adjust to 13
15 4 1969 21 : 2
MTS = -216 adjust to 21384
SMercury = 22482 adjust to 882
MTS = -13 adjust to 21587
pholMT = 21613 adjust to 13
15 4 1969 21 : 3
MTS = -216 adjust to 21384
SMercury = 22482 adjust to 882
MTS = -13 adjust to 21587
pholMT = 21613 adjust to 13
15 4 1969 21 : 4
0:00:00.283645

In [19]:
df1 = df[['dt','dtny','ahra','jultin','kj','aw','masG','dT','au','van',
         'stin','sec','ahra_','kj_','aw_','masG_','dT_','au_','van_',
         'mathasun','pholsun','SPholGA','SKhan','SPushlip','SJyaGA','ravipphol','sun_diff','sun','sun_Z','sun_D','sun_M',
         'mtu','mathamoon','uv','MPholGA','MKhan','MPushlip','MJyaGA','chandraphol','moon_diff','moon','moon_Z','moon_D','moon_M', 
          'matharavi','srb','manut', 'a', 'b', 'pmt','rahu_diff','rahu','rahu_Z','rahu_D','rahu_M',
          'pholgt','geth_diff','geth','geth_Z','geth_D','geth_M',
          
          'matha_mecury','pholPK_mecury','ptma_mecury','puchaPT_mecury','khotiPT_mecury','MTpucha_mecury','MTKhoti_mecury',
          'khotiphol_mecury','MTcheta_mecury','MTphol_mecury','MTS_mecury','pholMT_mecury','ptnd_mecury','puchaTY_mecury',
          'khotiTY_mecury','SGPucha_mecury','SGKhoti_mecury','SGphol_mecury','p_mecury','sp_mecury','SGcheta_mecury',
          'mahaphol_mecury','mercury_diff','mercury','mercury_Z','mercury_D','mercury_M',
          
          'matha_venus','pholPK_venus','ptma_venus','puchaPT_venus','khotiPT_venus','MTpucha_venus','MTKhoti_venus',
          'khotiphol_venus','MTcheta_venus','MTphol_venus','MTS_venus','pholMT_venus','ptnd_venus','puchaTY_venus',
          'khotiTY_venus','SGPucha_venus','SGKhoti_venus','SGphol_venus','p_venus','sp_venus','SGcheta_venus',
          'mahaphol_venus','venus_diff','venus','venus_Z','venus_D','venus_M',
          
          'matha_mars','pholPK_mars','ptma_mars','puchaPT_mars','khotiPT_mars','MTpucha_mars','MTKhoti_mars',
          'khotiphol_mars','MTcheta_mars','MTphol_mars','MTS_mars','pholMT_mars','ptnd_mars','puchaTY_mars',
          'khotiTY_mars','SGPucha_mars','SGKhoti_mars','SGphol_mars','p_mars','sp_mars','SGcheta_mars',
          'mahaphol_mars','mars_diff','mars','mars_Z','mars_D','mars_M',          
          
          'matha_jupiter','pholPK_jupiter','ptma_jupiter','puchaPT_jupiter','khotiPT_jupiter','MTpucha_jupiter','MTKhoti_jupiter',
          'khotiphol_jupiter','MTcheta_jupiter','MTphol_jupiter','MTS_jupiter','pholMT_jupiter','ptnd_jupiter','puchaTY_jupiter',
          'khotiTY_jupiter','SGPucha_jupiter','SGKhoti_jupiter','SGphol_jupiter','p_jupiter','sp_jupiter','SGcheta_jupiter',
          'mahaphol_jupiter','jupiter_diff','jupiter','jupiter_Z','jupiter_D','jupiter_M',
          
          'matha_saturn','pholPK_saturn','ptma_saturn','puchaPT_saturn','khotiPT_saturn','MTpucha_saturn','MTKhoti_saturn',
          'khotiphol_saturn','MTcheta_saturn','MTphol_saturn','MTS_saturn','pholMT_saturn','ptnd_saturn','puchaTY_saturn',
          'khotiTY_saturn','SGPucha_saturn','SGKhoti_saturn','SGphol_saturn','p_saturn','sp_saturn','SGcheta_saturn',
          'mahaphol_saturn','saturn_diff','saturn','saturn_Z','saturn_D','saturn_M',
          
          'matha_uranus','pholPK_uranus','ptma_uranus','puchaPT_uranus','khotiPT_uranus','MTpucha_uranus','MTKhoti_uranus',
          'khotiphol_uranus','MTcheta_uranus','MTphol_uranus','MTS_uranus','pholMT_uranus','ptnd_uranus','puchaTY_uranus',
          'khotiTY_uranus','SGPucha_uranus','SGKhoti_uranus','SGphol_uranus','p_uranus','sp_uranus','SGcheta_uranus',
          'mahaphol_uranus','uranus_diff','uranus','uranus_Z','uranus_D','uranus_M'
          
        ]]
df1.to_csv(r"C:\Users\JACK\Desktop\hora\1969.csv")
df1.to_pickle(("./1969.pkl"))
# df1 = pd.read_pickle("./dummy.pkl")

In [2]:
#df1.to_pickle(("./1919_2124_day_all.pkl"))
df = pd.read_pickle("./1542019_all_minutes.pkl")

In [20]:
df1 = df[['dt','dtny','ahra','jultin','kj','aw','masG','dT','au','van',
         'stin','sec','ahra_','kj_','aw_','masG_','dT_','au_','van_',
         'sun','moon','rahu','geth','mars','mercury','venus','jupiter','saturn','uranus',
         'sun_Z','sun_D','sun_M',
         'moon_Z','moon_D','moon_M',
         'rahu_Z','rahu_D','rahu_M',
         'geth_Z','geth_D','geth_M',
         'mars_Z','mars_D','mars_M',
         'mercury_Z','mercury_D','mercury_M',
         'venus_Z','venus_D','venus_M',
         'jupiter_Z','jupiter_D','jupiter_M',
         'saturn_Z','saturn_D','saturn_M',
         'uranus_Z','uranus_D','uranus_M'
          
          
          
        ]]
df1.to_csv(r"C:\Users\JACK\Desktop\S_out.csv")

KeyError: "['kj', 'aw_', 'aw', 'au_', 'dT', 'ahra_', 'masG_', 'dT_', 'masG', 'jultin', 'sec', 'kj_', 'stin', 'au', 'ahra', 'van_', 'van'] not in index"

In [4]:
dt1= datetime(2019,1,1,0,0)
dt2= datetime(1943,4,17,9,49)
dt3= datetime(2019,1,2,22,45)


test1= hora(dt1)
test2= hora(dt2)
test3= hora(dt3)

#Create dataframe
#Method1
data = {
    'dt': [dt1,dt2,dt3],
    'sun' : [test1.sun,test2.sun,test3.sun],
    'moon': [test1.moon,test2.moon,test3.moon],
    'rahu' : [test1.rahu,test2.rahu,test3.rahu],
    'geth' : [test1.geth,test2.geth,test3.geth],
    'mars' : [test1.mars,test2.mars,test3.mars],
    'mercury' : [test1.mercury,test2.mercury,test3.mercury],
    'venus' : [test1.venus,test2.venus,test3.venus],
    'jupiter' : [test1.jupiter,test2.jupiter,test3.jupiter],
    'saturn' : [test1.saturn,test2.saturn,test3.saturn],
    'uranus' : [test1.uranus,test2.uranus,test3.uranus]
}


#Method2
# data = [
#     {'dt': dt1, 'ssun': test1.sun, 'smoon': test1.moon},
#     {'dt': dt2, 'ssun': test2.sun, 'smoon': test2.moon},
#     {'dt': dt3, 'ssun': test3.sun, 'smoon': test3.moon},
# ]

df = pd.DataFrame(data)


loops = ['sun','moon','rahu','geth','mars','mercury','venus','jupiter','saturn','uranus'] 

for planet in loops:
    zodiac = planet+"_Z"
    degree = planet+"_D"
    minute = planet+"_M"
    df[zodiac] =  df[planet]//1800 
    df[degree] =  (df[planet]%1800)//60 
    df[minute] =  (df[planet]%1800)%60

# df['sun_Z'] =  df['ssun']//1800 
# df['sun_D'] =  (df['ssun']%1800)//60 
# df['sun_M'] =  (df['ssun']%1800)%60

df[['sun_Z','sun_D','sun_M','moon_Z','moon_D','moon_M','rahu_Z','rahu_D','rahu_M','geth_Z','geth_D','geth_M']]
#df[['mercury_Z','mercury_D','mercury_M','venus_Z','venus_D','venus_M']]
#df[['mars_Z','mars_D','mars_M','jupiter_Z','jupiter_D','jupiter_M','saturn_Z','saturn_D','saturn_M','uranus_Z','uranus_D','uranus_M']]

Smars = -1498 adjust to 20102
MTS = -137 adjust to 21463
SMercury = 22715 adjust to 1115
Smars = -1431 adjust to 20169

,sun_Z,sun_D,sun_M,moon_Z,moon_D,moon_M,rahu_Z,rahu_D,rahu_M,geth_Z,geth_D,geth_M
0,8,15,29,6,13,42,3,2,45,9,7,50
1,0,3,21,4,25,31,3,28,19,5,29,0
2,8,17,29,7,9,51,3,2,39,9,6,48

,dt,dtny,ahra,jultin,kj,aw,masG,dT,au,van,...,SGKhoti_uranus,SGphol_uranus,p_uranus,sp_uranus,SGcheta_uranus,mahaphol_uranus,uranus,uranus_Z,uranus_D,uranus_M
0,16/4/2582 22:0,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
1,16/4/2582 22:1,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
2,16/4/2582 22:2,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
3,16/4/2582 22:3,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
4,16/4/2582 22:4,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
5,16/4/2582 22:5,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
6,16/4/2582 22:6,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
7,16/4/2582 22:7,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
8,16/4/2582 22:8,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
9,16/4/2582 22:9,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
10,16/4/2582 22:10,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
11,16/4/2582 22:11,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
12,16/4/2582 22:12,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
13,16/4/2582 22:13,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
14,16/4/2582 22:14,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
15,16/4/2582 22:15,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
16,16/4/2582 22:16,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
17,16/4/2582 22:17,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
18,16/4/2582 22:18,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
19,16/4/2582 22:19,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
20,16/4/2582 22:20,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
21,16/4/2582 22:21,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
22,16/4/2582 22:22,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
23,16/4/2582 22:23,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
24,16/4/2582 22:24,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
25,16/4/2582 22:25,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
26,16/4/2582 22:26,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
27,16/4/2582 22:27,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
28,16/4/2582 22:28,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
29,16/4/2582 22:29,16/4/2581 17:11:24,511363.0,573.0,227.0,375.0,17316.0,12.0,86.0,6.0,...,93.0,155.0,16654.0,16809.0,16716.0,100.0,5958.0,3.0,9.0,18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,17/4/2582 14:10,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
971,17/4/2582 14:11,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
972,17/4/2582 14:12,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
973,17/4/2582 14:13,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
974,17/4/2582 14:14,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
975,17/4/2582 14:15,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
976,17/4/2582 14:16,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
977,17/4/2582 14:17,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
978,17/4/2582 14:18,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
979,17/4/2582 14:19,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
980,17/4/2582 14:20,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
981,17/4/2582 14:21,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
982,17/4/2582 14:22,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
983,17/4/2582 14:23,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
984,17/4/2582 14:24,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
985,17/4/2582 14:25,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
986,17/4/2582 14:26,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
987,17/4/2582 14:27,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
988,17/4/2582 14:28,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
989,17/4/2582 14:29,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
990,17/4/2582 14:30,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
991,17/4/2582 14:31,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
992,17/4/2582 14:32,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
993,17/4/2582 14:33,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
994,17/4/2582 14:34,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
995,17/4/2582 14:35,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
996,17/4/2582 14:36,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
997,17/4/2582 14:37,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
998,17/4/2582 14:38,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0
999,17/4/2582 14:39,16/4/2582 23:24:0,511728.0,780.0,20.0,238.0,17328.0,23.0,451.0,0.0,...,88.0,155.0,16654.0,16809.0,16721.0,100.0,5959.0,3.0,9.0,19.0

In [13]:
dt1= datetime(1984,1,27,9,49)
dt2= datetime(2007,3,30,8,55)
dt3= datetime(2010,1,27,22,52)


test1= hora(dt1)
test2= hora(dt2)
test3= hora(dt3)

#Create dataframe
#Method1
data = {
    'dt': [dt1,dt2,dt3],
    'ssun' : [test1.sun,test2.sun,test3.sun],
    'smoon': [test1.moon,test2.moon,test3.moon],
    'srahu' : [test1.rahu,test2.rahu,test3.rahu],
    'sgeth' : [test1.geth,test2.geth,test3.geth],
    'smars' : [test1.mars,test2.mars,test3.mars],
    'smercury' : [test1.mercury,test2.mercury,test3.mercury],
    'svenus' : [test1.venus,test2.venus,test3.venus],
    'jupiter' : [test1.jupiter,test2.jupiter,test3.jupiter],
    'ssaturn' : [test1.saturn,test2.saturn,test3.saturn],
    'suranus' : [test1.uranus,test2.uranus,test3.uranus]
}


#Method2
# data = [
#     {'dt': dt1, 'ssun': test1.sun, 'smoon': test1.moon},
#     {'dt': dt2, 'ssun': test2.sun, 'smoon': test2.moon},
#     {'dt': dt3, 'ssun': test3.sun, 'smoon': test3.moon},
# ]

df = pd.DataFrame(data)



#Add row to DataFrame
#METHOD1: add or update specify by row name 
#df.loc[2] = [dt3,10,20]
#df.loc[3] = [dt3,10,20]

#METHOD1.1: Add row to the end of dataframe 
#df.loc[len(df.index)] = [dt3,10,20]
#df.loc[len(df.index)] = [dt3,10,20]
# df.loc[len(df.index)] = [dt3,10,20]


#METHOD2: Add row to some columns
#df = df.append({'dt' : 'dateadded' , 'ssun' : 2222} , ignore_index=True)

#print(len(df.index))


#Change column name
#df.columns = 'a','b','c'

#create new column and data
#method1
#df['newcolumn1'] = ''
#df['newcolumn1'] = [1,2,3,4,5]

#Method2
#df.insert(4, "newcolumn2", [21, 23, 24, 21, 20], True) 
#df.insert(len(df.columns), "newcolumn2", [21, 23, 24, 21, 20], True) 

#Method3-Create new 
#df2 = df.assign(address = ['Delhi', 'Bangalore', 'Chennai', 'Patna', 'ddd']) 
#df2


#Drop column 
#df = df.drop(columns=['newcolumn1','newcolumn2'])


# df['sun_Z'] =  df['ssun']//1800 
# df['sun_D'] =  (df['ssun']%1800)//60 
# df['sun_M'] =  (df['ssun']%1800)%60

# df['moon_Z'] =  df['smoon']//1800 
# df['moon_D'] =  (df['smoon']%1800)//60 
# df['moon_M'] =  (df['smoon']%1800)%60

# df['rahu_Z'] =  df['srahu']//1800 
# df['rahu_D'] =  (df['srahu']%1800)//60 
# df['rahu_M'] =  (df['srahu']%1800)%60

# df['geth_Z'] =  df['sgeth']//1800 
# df['geth_D'] =  (df['sgeth']%1800)//60 
# df['geth_M'] =  (df['sgeth']%1800)%60

# df['mars_Z'] =  df['smars']//1800 
# df['mars_D'] =  (df['smars']%1800)//60 
# df['mars_M'] =  (df['smars']%1800)%60



# df[0:]




#sliding rows 
#df[2:3]

#sliding columns 
# df[['dt','ssun','smoon']]

#sliding rows and columns 
#df.loc[row,colmm]
# df.loc[:,:]
# df.loc[1,['dt']]
# df.loc[1:3,['dt','ssun','smoon']]
# df.loc[1:3,'dt':'ssun']

#Change index
# df.set_index("dt", inplace=True)
# df.loc[:,:]
# df.loc[dt1,:]
# df.loc[dt1:dt3,['ssun','smoon']]
# df.loc[dt1:dt3,'ssun':'ssun_m']

#boolean
# df.loc[df['smoon'] >= 7000,'ssun':'ssun_m']

df



#df.loc[0:3,'dt']>dt1
#df.loc[0:3,'dt']>dt1
#data.set_index("last_name", inplace=True)

uv = 14819
pholGA = 4019
khan = 4
SVenus = 22652 adjust to 1052
uv = 17719
pholGA = 3881
khan = 4
uv = 7926
pholGA = 2874
khan = 3

,dt,ssun,smoon,srahu,sgeth,smars,smercury,svenus,jupiter,ssaturn,suranus
0,1984-01-27 09:49:00,16953,12913,2933,12108,11722,15638,14765,14973,11999,13324
1,2007-03-30 08:55:00,20702,7569,19222,2089,18000,19459,1052,14290,6638,19352
2,2010-01-27 22:52:00,17003,4207,15932,12377,6532,15557,17071,18534,9464,19983

In [38]:
#df[['dt','ssun','sun_Z','sun_D','sun_M','smoon','moon_Z','moon_D','moon_M']]

In [39]:
# s_ravi = {
#     'jya': [35,32,27,22,13,5],
#     'ravi': [0,35,67,94,116,129]
# }
# #df = pd.DataFrame(s_ravi)
# df = pd.DataFrame(s_ravi)
# #df.iloc[1] = [kj,Ssun]
# #df.append(data)
# df = df.append({'kj' : 'Sahil' , 'sun' : 22} , ignore_index=True)
# df = df.append({'kj' : 'Sahil' , 'sun' : 22} , ignore_index=True)

# df = df.append({'kj' : 'Sahil' , 'sun' : 22 , 'datetime' : dt} , ignore_index=True)
# df = df.append({'kj' : 'Sahil' , 'sun' : 22 , 'datetime' : dtny} , ignore_index=True)


#Create dataframe
df = pd.DataFrame()

# Creating an empty Dataframe with column names only
df = pd.DataFrame(columns=['User_ID', 'UserName', 'Action'])

# Create an empty Dataframe with columns or indices
#df = pd.DataFrame(columns=['User_ID', 'UserName', 'Action'], index=['a', 'b', 'c'])

print(df.head(5))
print(df.tail())

print(df.dtypes)
print(df.index)
print(df.columns)
print(df.values)

#for index,row in df.iterrows():
#    print (index, row['ssun'], row['smoon'])

Empty DataFrame
Columns: [User_ID, UserName, Action]
Index: []
Empty DataFrame
Columns: [User_ID, UserName, Action]
Index: []
User_ID     object
UserName    object
Action      object
dtype: object
Index([], dtype='object')
Index(['User_ID', 'UserName', 'Action'], dtype='object')
[]

In [8]:
day,month,year,hour,minute = 27,1,2527,9,49
christ_year = year-543

dt= datetime(christ_year,month,day,hour,minute)

a = hora(dt)  
print('dt =', a.dt)
print('dtnt =', a.dtny)
print('ahra =', a.ahra)
print('jultin =', a.jultin)
print('kj =', a.kj)
print('aw =', a.aw)
print('masG =', a.masG)
print('dT =', a.dT)
print('au =', a.au)
print('van =', a.van)

print('stin =', a.stin)
print('sec =', a.sec)
print('ahra_ =', a.ahra_)
print('kj_ =', a.kj_)
print('aw_ =', a.aw_)
print('masG_ =', a.masG_)
print('dT_ =', a.dT_)
print('au_ =', a.au_)
print('van_ =', a.van_)

print('sun =', a.sun)
print('moon =', a.moon)
print('rahu =', a.rahu)
print('geth =', a.geth)
print('mars =', a.mars)
print('mercury =', a.mercury)
print('venus =', a.venus)
print('jupiter =', a.jupiter)
print('saturn =', a.saturn)
print('uranus =', a.uranus)

dt = 1984-01-27 09:31:00
dtnt = 1983-04-16 11:38:24
ahra = 491274
jultin = 388
kj = 412
aw = 144
masG = 16636
dT = 4
au = 2621
van = 0
stin = 286
sec = 34260
ahra_ = 491560
kj_ = 228729
aw_ = 97
masG_ = 16645
dT_ = 24
au_ = 2907
van_ = 6
sun = 16953
moon = 12913
rahu = 2933
geth = 12108
mars = 11722
mercury = 15638
venus = 14765
jupiter = 14973
saturn = 11999
uranus = 13324

#