In [91]:
import math
from datetime import date
from datetime import datetime
from datetime import timedelta
import pandas as pd
df = pd.DataFrame()

def NYdate(jula_year):
    ny = jula_year*0.25875-int(jula_year/4 +0.5)+int(jula_year/100 +0.38)-int(jula_year/400 +0.595)-5.53375
    jultin =  ((jula_year*292207)+373)%800
    hour,frac = divmod(jultin*24,800)
    minute,frac = divmod(frac*60,800)
    second,frac = divmod(frac*60,800)
    christ_year = jula_year+638
    dtny = datetime(christ_year, 4, int(ny), hour , minute, second)
    return dtny;

In [92]:
for jula_year in range(1299,1499):
    dtny = NYdate(jula_year)
    buddhist_year = jula_year+1181
    temp = (jula_year*292207)+373
    ahra = (temp//800)+1
    jultin =  temp%800

    kj = 800-jultin
    temp,aw= divmod((ahra*11)+650,692)
    masG,dT=divmod((ahra+temp),30)

    au = (ahra-621)%3232
    van = ahra%7

    
    df = df.append({'Jyear' : jula_year, 
                    'Byear' : buddhist_year,
                    'dtny' : dtny,
                    'date': str(dtny.day)+'/'+str(dtny.month)+'/'+str(dtny.year+543),
                    'time': str(dtny.hour)+':'+str(dtny.minute)+':'+str(dtny.second),
                    'ahra' : ahra,          
                    'jultin' : jultin,
                    'kj' : kj,
                    'aw' : aw,
                    'dT' : dT,
                    'au' : au,
                    'van' : van                 
                   } , ignore_index=True)



exp = df[['date','time','Jyear','ahra','jultin','kj','aw','dT','au','van']]
exp.to_csv(r"C:\Users\JACK\Desktop\out.csv")

In [82]:
# df1 = df.loc[df.Jyear ==1348]
# #df1
# df1.iloc[0]['au']

#df

Byear                    2529
Jyear                    1348
ahra                   492370
au                        485
aw                        436
dT                          7
date                16/4/2529
dtny      1986-04-16 06:16:12
jultin                    209
kj                        591
time                  6:16:12
van                         4
Name: 49, dtype: object